Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Use 'dispatch' option instead of deprecated sync* functions
  src/packages/editing/EditingServiceImpl.ts
  src/packages/map/MapRegistry.ts
  src/packages/map/layers/AbstractLayer.test.ts
  src/packages/map/layers/AbstractLayerBase.test.ts
  src/packages/map/model/LayerCollection.test.ts
Due: prettier --write, eslint

Use new topmost layer API to implement highlight/graphics layers (#258, #526)
  .changeset/dark-nails-hope.md
  .changeset/fair-geckos-lie.md
  .changeset/giant-pears-hug.md
  .changeset/public-webs-share.md
  .changeset/rotten-times-end.md
  docs/DevNotes.md
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/EditingServiceImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/api.ts
  src/packages/editing/build.config.mjs
  src/packages/geolocation/Geolocation.test.tsx
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.ts
  src/packages/geolocation/build.config.mjs
  src/packages/geolocation/test-utils.ts
  src/packages/legend/Legend.test.tsx
  src/packages/map-test-utils/index.ts
  src/packages/map/index.ts
  src/packages/map/layers/GroupLayer.test.ts
  src/packages/map/layers/shared/SublayersCollection.ts
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/Highlights.ts
  src/packages/map/model/LayerCollection.test.ts
  src/packages/map/model/LayerCollection.ts
  src/packages/map/model/MapModel.ts
  src/packages/measurement/Measurement.test.tsx
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/build.config.mjs
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/utils/displayLayer.ts
  vite.config.ts
Due: prettier --write, eslint

Update changeset
  .changeset/wide-parrots-sip.md
Due: prettier --write

Use latest core packages release
  .changeset/public-toys-itch.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Remove references to layer constructor
  src/packages/legend/README.md
  src/packages/result-list/README.md
  src/packages/toc/README.md
  src/samples/map-sample/ol-app/README.md
Due: prettier --write

enforce typescript-eslint/no-non-null-assertion rule
  eslint.config.mjs
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/coordinates.ts
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map/layers/WMSLayer.ts
  src/packages/map/layers/wms/WMSSublayer.ts
  src/packages/map/model/Highlights.ts
  src/packages/map/model/LayerCollection.ts
  src/packages/map/model/createMapModel.ts
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/hooks/useMapModel.ts
  src/packages/ogc-features/createVectorSource.ts
  src/packages/ogc-features/requestUtils.ts
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/showcase/showcase-app/model/AppModel.ts
  support/create-license-report.ts
Due: prettier --write, eslint

Add changeset
  .changeset/blue-bushes-move.md
Due: prettier --write

Enforce typescript-eslint rule no-non-null-assertion (#506, #528)
  .changeset/blue-bushes-move.md
  eslint.config.mjs
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/coordinates.ts
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map/layers/WMSLayer.ts
  src/packages/map/layers/wms/WMSSublayer.ts
  src/packages/map/model/Highlights.ts
  src/packages/map/model/LayerCollection.ts
  src/packages/map/model/createMapModel.ts
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/hooks/useMapModel.ts
  src/packages/ogc-features/createVectorSource.ts
  src/packages/ogc-features/requestUtils.ts
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/showcase/showcase-app/model/AppModel.ts
  support/create-license-report.ts
Due: prettier --write, eslint

extend search api to allow setting search input value
  src/packages/search/Search.tsx
  src/packages/search/SearchApiImpl.ts
  src/packages/search/api.ts
  src/samples/test-search/search-app/AppUI.tsx
Due: prettier --write, eslint

Update UI.md
  docs/concepts/UI.md
Due: prettier --write

Update UI.md
  docs/guidelines/UI.md
Due: prettier --write

fix some tests in AbstractLayer
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/WMSLayer.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

add tooltip and icon for invisible layers in toc
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write, eslint

move to hook
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/hooks.ts
Due: prettier --write, eslint

move visibleInScale to base type and make it not optional (always true when no restriction is specified)
  src/packages/map/api/layers/base.ts
Due: prettier --write, eslint

fix aria label for invisible layer
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write, eslint

set min/max resolution of ol layer in abstract layer to support all layer types
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/WMSLayer.ts
Due: prettier --write, eslint

consider layer visibility in basemap switcher
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/i18n/de.yaml
  src/packages/basemap-switcher/i18n/en.yaml
Due: prettier --write, eslint

add map config samples and move to toc app
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

remove helper function as it does not shorten the code, but passes a lot of args around
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

fixes after rebase
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/layers/shared/LayerConfig.ts
Due: prettier --write, eslint

remove unused import
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write, eslint

update snapshot after rebase
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
Due: none

fixes after rebase
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

Add new issues to maintenance board
  .github/workflows/new-issue.yml
Due: prettier --write

move highlight creation to the end of MapModel constructor
  src/packages/map/model/MapModel.ts
Due: prettier --write, eslint

sync with OpenLayers Layer and computed min/maxRes
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

add support for minZoom and maxZoom
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/shared/LayerConfig.ts
Due: prettier --write, eslint

use visibility logic from OpenLayers, remove obsolete cleanup handle
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

update snapshot
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
Due: none

remove TODO comment
  src/packages/toc/ui/LayerList/hooks.ts
Due: prettier --write, eslint

replaces resolution by zoom in mapconfig for better readability, add example for group layer to demonstrate inheritance
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

keep getters and setters of layer restrictions as wrappers around OL methods
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

remove watch from initialization, add pseudo dependencies to computed property (workaround for missing OL event on isVisible)
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

isVisible not usable due to feedback loop (visible), re-implement OL logic
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

remove duplicate initialization
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

init commit for tooltip api
  src/packages/map/index.ts
  src/packages/map/model/MapModel.ts
  src/packages/map/model/Tooltips.ts
  src/packages/map/ui/MapContainer.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
Due: prettier --write, eslint

Code review
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/map/layers/AbstractLayer.ts
Due: prettier --write, eslint

toc layer still selectable even if not visible in current scale
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write, eslint

basemap still selectable even if not visible in current scale
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html,yaml,yml})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
