Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Use portal to render the menu, update tests
  pnpm-lock.yaml
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Update property name in README
  src/packages/scale-setter/README.md
Due: prettier --write --ignore-path .eslintignore

combined two tests and added one
  pnpm-lock.yaml
  src/packages/scale-setter/ScaleSetter.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

updated tests
  src/packages/scale-setter/ScaleSetter.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

added icons to package json
  pnpm-lock.yaml
  src/packages/scale-setter/package.json
Due: prettier --write --ignore-path .eslintignore

Add missing changeset
  .changeset/three-buckets-travel.md
Due: prettier --write --ignore-path .eslintignore

Refactor/clean up a bit.
  src/packages/scale-setter/README.md
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-setter/build.config.mjs
  src/packages/scale-setter/i18n/de.yaml
  src/packages/scale-setter/i18n/en.yaml
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing '.'
  src/packages/scale-setter/i18n/en.yaml
Due: none

Fix lockfile
  pnpm-lock.yaml
Due: none

Add scale-setter (#72, #332)
  .changeset/three-buckets-travel.md
  pnpm-lock.yaml
  src/packages/map-test-utils/index.ts
  src/packages/scale-setter/CHANGELOG.md
  src/packages/scale-setter/LICENSE
  src/packages/scale-setter/README.md
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-setter/build.config.mjs
  src/packages/scale-setter/i18n/de.yaml
  src/packages/scale-setter/i18n/en.yaml
  src/packages/scale-setter/index.ts
  src/packages/scale-setter/package.json
  src/packages/scale-setter/scale-setter.scss
  src/packages/scale-setter/typedoc.json
  src/packages/search/CustomComponents.tsx
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Adjust scroll logic (only scroll when needed)
  src/packages/scale-setter/ScaleSetter.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Scale setter: show rendered scale in aria label
  src/packages/scale-setter/ScaleSetter.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

[TOC] add group role to parent nodes (#321, #340)
  .changeset/cuddly-planets-collect.md
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Move help text from label to description to avoid spam in the screen reader
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-setter/i18n/de.yaml
  src/packages/scale-setter/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

do not rely on ol source events for measurement changes
  .changeset/stupid-toes-trade.md
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

move type definition
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#81 map naviagtion forward/bakcward view
  src/packages/map-navigation/NaviHistory.test.tsx
  src/packages/map-navigation/NaviHistory.tsx
  src/packages/map-navigation/README.md
  src/packages/map-navigation/i18n/de.yaml
  src/packages/map-navigation/i18n/en.yaml
  src/packages/map-navigation/index.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/MapViewNavigation.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use reactivity api in spatial bookmarks impl
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
  src/packages/spatial-bookmarks/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

update package lock
  pnpm-lock.yaml
Due: none

Refactor geolocation component
  .changeset/chatty-seals-sin.md
  pnpm-lock.yaml
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.test.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/geolocation/package.json
  src/packages/geolocation/test-utils.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Remove unneeded promise
  src/packages/geolocation/GeolocationController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix aria messages in BasemapSwitcher
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/i18n/de.yaml
  src/packages/basemap-switcher/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

use array in watch
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Wrap printing widget into a form
  .changeset/pretty-tomatoes-care.md
  src/packages/printing/Printing.test.tsx
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.test.ts
  src/packages/printing/PrintingController.ts
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Add changeset
  .changeset/cold-peas-lie.md
Due: prettier --write --ignore-path .eslintignore

Use reactivity API in package implementations (#344)
  .changeset/chatty-seals-sin.md
  .changeset/cold-peas-lie.md
  .changeset/pretty-tomatoes-care.md
  pnpm-lock.yaml
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.test.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/geolocation/package.json
  src/packages/geolocation/test-utils.ts
  src/packages/printing/Printing.test.tsx
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.test.ts
  src/packages/printing/PrintingController.ts
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
  src/packages/spatial-bookmarks/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

#310 select first source initially, do not select any source if source no longer exists
  src/packages/selection/Selection.tsx
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

#310 update currentSource correctly and added tests; apply initial layer visibility
  .changeset/five-geese-remain.md
  .changeset/red-dots-design.md
  src/packages/map/model/AbstractLayer.ts
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset for basemap-switcher
  .changeset/big-zoos-love.md
  .changeset/red-dots-design.md
Due: prettier --write --ignore-path .eslintignore

#70 coordinate search
  pnpm-lock.yaml
  src/packages/coordinate-search/CHANGELOG.md
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/LICENSE
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/__snapshots__/CoordinateViewer.test.tsx.snap
  src/packages/coordinate-search/build.config.mjs
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/packages/coordinate-search/index.ts
  src/packages/coordinate-search/package.json
  src/packages/coordinate-search/typedoc.json
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
  src/samples/map-sample/ol-app/ui/Footer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use reactivity-api for state of editingWorkflows
  .changeset/little-lizards-beam.md
  .changeset/wet-seals-buy.md
  pnpm-lock.yaml
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingServiceImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/api.ts
  src/packages/editing/package.json
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Use signals for selection sources
  .changeset/chatty-poets-jam.md
  pnpm-lock.yaml
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/SelectionController.test.ts
  src/packages/selection/VectorSelectionSource.ts
  src/packages/selection/api.ts
  src/packages/selection/package.json
  src/packages/selection/selectionSources.ts
  src/packages/selection/services.ts
  src/packages/selection/test-utils.ts
  src/samples/map-sample/ol-app/AppModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Use reactivity API for map model (note: a few tests still failing)
  .changeset/eighty-peaches-learn.md
  .changeset/hot-lions-wash.md
  .changeset/lazy-otters-rhyme.md
  .changeset/ninety-days-repair.md
  .changeset/weak-goats-try.md
  .eslintrc
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/i18n/de.yaml
  src/packages/basemap-switcher/i18n/en.yaml
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/package.json
  src/packages/legend/Legend.tsx
  src/packages/legend/package.json
  src/packages/map-test-utils/index.ts
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/map/package.json
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/LayerList.tsx
  src/packages/toc/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Use syncWatch instead
  src/packages/editing/EditingServiceImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

[Spatial selection] Automatically select selection-source (#310, #346)
  .changeset/big-zoos-love.md
  .changeset/five-geese-remain.md
  .changeset/red-dots-design.md
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/i18n/de.yaml
  src/packages/basemap-switcher/i18n/en.yaml
  src/packages/map/model/AbstractLayer.ts
  src/packages/selection/DragController.test.ts
  src/packages/selection/DragController.ts
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Fix tests
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/map-test-utils/index.ts
  src/packages/map-test-utils/package.json
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#310 Ensure to send onSelectionSourceChanged if source no longer exists
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add tests, extract source management into a hook
  .changeset/nine-keys-train.md
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add hint in changeset
  .changeset/hip-masks-obey.md
  .changeset/nine-keys-train.md
Due: prettier --write --ignore-path .eslintignore

Ensure to send onSelectionSourceChanged if source no longer exists (#310, #348)
  .changeset/hip-masks-obey.md
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
