Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

split changeset files
  .changeset/fuzzy-ravens-brake.md
  .changeset/selection-aria-description.md
Due: prettier --write --ignore-path .eslintignore

Refactor: rename to 'labelProperty' and move the option into ResultListInput
  .changeset/fuzzy-ravens-brake.md
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/i18n/de.yaml
  src/packages/result-list/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Move region role to the demo applications
  .changeset/fuzzy-ravens-brake.md
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix a11y issues in ResultList and Selection (#443, #454)
  .changeset/fuzzy-ravens-brake.md
  .changeset/selection-aria-description.md
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/result-list/i18n/de.yaml
  src/packages/result-list/i18n/en.yaml
  src/packages/selection/DragController.test.ts
  src/packages/selection/DragController.ts
  src/packages/selection/Selection.tsx
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update core packages snapshot
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
Due: none

Increase debounce timeout to 3 seconds
  src/packages/scale-viewer/ScaleViewer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix snapshots
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
Due: none

a11y: background color for scale bar for improved contrast (#433)
  .changeset/five-ghosts-end.md
  src/packages/scale-bar/ScaleBar.tsx
  src/packages/scale-bar/__snapshots__/ScaleBar.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

toc: slightly reduce padding between basemap switcher and layer list
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

toc: reduce focus ring size so its fits into the available space
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Tools.tsx
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

improve aria labels
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/i18n/de.yaml
  src/packages/spatial-bookmarks/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Run prettier on yaml files when committing
  .lintstagedrc
Due: none

fix unit tests
  src/packages/spatial-bookmarks/SpatialBookmarks.test.tsx
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset
  .changeset/rare-meals-flow.md
Due: prettier --write --ignore-path .eslintignore

reverse order of input and proj select
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove border between input and select
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update test snapshots
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: none

improve aria label
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: none

add changeset
  .changeset/six-insects-brake.md
Due: prettier --write --ignore-path .eslintignore

Fix snapshots
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: none

Update config
  .prettierignore
  package.json
  pnpm-workspace.yaml
  renovate.json
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore

Resolve duplicate dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

improve a11y for coordinate search and coordinate input components (#427, #460)
  .changeset/six-insects-brake.md
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

List legacy branch in README.md
  README.md
Due: prettier --write --ignore-path .eslintignore

improve aria labels for spatial bookmarks (#437, #455)
  .changeset/rare-meals-flow.md
  src/packages/spatial-bookmarks/SpatialBookmarks.test.tsx
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
  src/packages/spatial-bookmarks/i18n/de.yaml
  src/packages/spatial-bookmarks/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Dedupe deps
  pnpm-lock.yaml
Due: none

Update changesets
  .changeset/little-stingrays-poke.md
  .changeset/rare-meals-flow.md
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Use correct ignore file during lint-staged
  .lintstagedrc
Due: none

Ignore brace-expansion CVE in dev dependencies for the time being (CVE-2025-5889)
  pnpm-workspace.yaml
Due: none

Update dependencies, remove obsolete patch and fix brace-expansion CVE
  .changeset/cuddly-dolls-fail.md
  patches/@ark-ui__react.patch
  patches/@zag-js__focus-visible.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

draft option to hide layers in toc
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

minor refactoring
  src/packages/map/api/layers/base.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix if condition for display mode
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use display mode for internal measurement layer
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add property internal, remover property displayMode
  src/packages/legend/Legend.tsx
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

lint and prettier
  src/packages/legend/Legend.tsx
  src/packages/map/model/AbstractLayerBase.ts
Due: prettier --write --ignore-path .eslintignore, eslint

implement toc list mode attribute
  src/packages/toc/index.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

update toc sample
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

prettier
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix condition to render nested children
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write --ignore-path .eslintignore, eslint
