Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Migrate measurement demo
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/package.json
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/MigratedDemos.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

align buttons and button size in toc
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

migrate showcase app (WIP)
  src/samples/showcase/showcase-app/CustomLegendItems.tsx
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Migrate spatial bookmarks
  pnpm-lock.yaml
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/package.json
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/MigratedDemos.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Migrate overview map demo
  src/packages/overview-map/OverviewMap.tsx
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/MigratedDemos.tsx
  src/samples/showcase/showcase-app/demos/OverviewMapDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Migrate coordiante search and input
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/packages/coordinate-search/package.json
  src/samples/showcase/showcase-app/demos/CoordinateSearchDemos.tsx
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/MigratedDemos.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Migrate search package
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/search/CustomComponents.tsx
  src/packages/search/Search.tsx
  src/packages/search/package.json
  src/samples/showcase/showcase-app/demos/Demo.ts
Due: prettier --write --ignore-path .eslintignore, eslint

migrate showcase app (WIP), migrated selection
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/package.json
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix toc unit tests
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Tools.test.tsx
  src/packages/toc/ui/Tools.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Update forwardref docs
  docs/concepts/UI.md
Due: prettier --write --ignore-path .eslintignore

Wip
  src/packages/map/ui/computeMapAnchorStyles.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

migrate selection
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix tooltip
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove reference to chakra-integration package
  pnpm-workspace.yaml
  src/packages/map/README.md
Due: prettier --write --ignore-path .eslintignore

CoordinateInputField: avoid that browser provides old user inputs as suggestions in some edge cases
  src/packages/coordinate-search/CoordinateInputField.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix lazy mount issue in unit test
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

migrate result-list (WIP)
  pnpm-lock.yaml
  src/packages/result-list/DataTable/ColumnResizer.tsx
  src/packages/result-list/DataTable/ColumnSortIndicator.tsx
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/package.json
  src/packages/selection/Selection.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update to pnpm 10
  .npmrc
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

Update to pnpm 10 (#421, open-pioneer/trails-core-packages#89)
  .npmrc
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

Deduplicate packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
  support/duplicate-packages.yaml
Due: none

Fix dependency problems
  pnpm-lock.yaml
  src/packages/printing/package.json
  src/packages/result-list/package.json
Due: prettier --write --ignore-path .eslintignore

Document changed behavior of raw map container children
  .changeset/slimy-coats-search.md
Due: prettier --write --ignore-path .eslintignore

start fixing basemapswitcher tests
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

await showDropdown
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Bump dependencies
  .changeset/seven-buses-nail.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/samples/map-anchors/map-anchors-app/i18n/en.yaml
  support/disabled-package/package.json
Due: prettier --write --ignore-path .eslintignore

Fix typedoc build
  typedoc.config.mjs
Due: prettier --write --ignore-path .eslintignore, eslint

migrate result-list (WIP)
  pnpm-lock.yaml
  src/packages/result-list/DataTable/ColumnSortIndicator.tsx
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/result-list.scss
  src/packages/selection/Selection.tsx
  src/packages/selection/selection.css
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/test-result-list/result-list-app/AppUI.tsx
  src/samples/test-result-list/result-list-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

fix basemap switcher tests
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix legend test snapshots
  src/packages/legend/__snapshots__/Legend.test.tsx.snap
Due: none

fix scalebar and scaleviewer test snapshots
  src/packages/scale-bar/__snapshots__/ScaleBar.test.tsx.snap
  src/packages/scale-viewer/__snapshots__/ScaleViewer.test.tsx.snap
Due: none

Fix result list sample app
  .eslintrc
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/DataTable/createColumns.tsx
  src/samples/test-result-list/result-list-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

basemapswitcher: wait for model to resolve
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

simplify unit tests for basemap switcher
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

migrate result-list: make header title semi-bold; migrate selection: fix color of selection drag box
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/selection/selection.css
Due: prettier --write --ignore-path .eslintignore, eslint

add missing dependency
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore

fix scale setter unit test
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

fix printing test snapshots
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix geolocation test snapshots
  src/packages/geolocation/__snapshots__/Geolocation.test.tsx.snap
  src/packages/scale-setter/ScaleSetter.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix coordinate viewer test snapshots
  src/packages/coordinate-viewer/__snapshots__/CoordinateViewer.test.tsx.snap
Due: none

fix map test snapshots
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
