Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

raise version of OL
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/map/model/Highlights.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/selection/Selection.test.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/selection/api.ts
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

fix return type in unit test
  src/packages/ogc-features/createVectorSource.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset
  .changeset/cuddly-chefs-look.md
Due: prettier --write --ignore-path .eslintignore

Make parents visible when showing a child layer via the toc
  .changeset/wet-buses-itch.md
  src/packages/toc/Context.ts
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/LayerList.tsx
  src/packages/toc/README.md
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete eslint directive
  src/packages/map/model/layers/GroupLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Implement support for GroupLayers (#222, #371)
  .changeset/happy-tables-walk.md
  .changeset/selfish-squids-travel.md
  .changeset/twelve-moles-scream.md
  .changeset/wet-buses-itch.md
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/api/layers/index.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/SimpleLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.test.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/toc/Context.ts
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/LayerList.tsx
  src/packages/toc/README.md
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Split changesets
  .changeset/cuddly-chefs-look.md
  .changeset/lazy-worms-draw.md
Due: prettier --write --ignore-path .eslintignore

Update to OpenLayers 10 (#373)
  .changeset/cuddly-chefs-look.md
  .changeset/lazy-worms-draw.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/map/model/Highlights.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/ogc-features/createVectorSource.test.ts
  src/packages/selection/Selection.test.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/selection/api.ts
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Audit: update-cross-spawn
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Improve child registration pattern
  src/packages/toc/LayerList.tsx
  src/packages/toc/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Implement reactive map properties
  pnpm-lock.yaml
  src/packages/map/api/MapModel.ts
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/ui/hooks.ts
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/ScaleViewer.tsx
  src/packages/scale-viewer/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] move selection controller to subfolder
  .husky/pre-commit
  src/packages/selection/Selection.tsx
  src/packages/selection/selection-controller/DragController.test.ts
  src/packages/selection/selection-controller/DragController.ts
  src/packages/selection/selection-controller/__snapshots__/DragController.test.ts.snap
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] allow the user to select between extent and point selection
  src/packages/selection/Selection.tsx
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
  src/packages/selection/selection-controller/ClickController.test.ts
  src/packages/selection/selection-controller/ClickController.ts
  src/packages/selection/selection-controller/__snapshots__/ClickController.test.ts.snap
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] extract common methods to functions
  src/packages/selection/selection-controller/ClickController.ts
  src/packages/selection/selection-controller/DragController.ts
  src/packages/selection/selection-controller/helper.ts
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] make selection method switcher optional
  src/packages/selection/Selection.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use properties from map model
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

remove deprecated use of useProjection
  src/packages/coordinate-viewer/CoordinateViewer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove redundant import
  src/packages/coordinate-viewer/CoordinateViewer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update documentation
  src/packages/map/api/MapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Use `synchronized` for container element
  src/packages/map/api/MapModel.ts
  src/packages/map/model/MapModelImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

react on changed projection
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

update lock file
  pnpm-lock.yaml
Due: none

Make locale test a bit more robust (might be "en-US" instead of "en")
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use properties of map model in geolocation
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.test.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/geolocation/test-utils.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add changesets
  .changeset/many-dingos-yell.md
  .changeset/plenty-turkeys-call.md
  .changeset/tiny-brooms-hide.md
  src/packages/geolocation/test-utils.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Provide reactive properties in MapModel (#368, #374)
  .changeset/many-dingos-yell.md
  .changeset/plenty-turkeys-call.md
  .changeset/tiny-brooms-hide.md
  pnpm-lock.yaml
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/package.json
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.test.ts
  src/packages/geolocation/GeolocationController.ts
  src/packages/geolocation/test-utils.ts
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
  src/packages/map/api/MapModel.ts
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/ui/hooks.ts
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/ScaleViewer.tsx
  src/packages/scale-viewer/package.json
  src/packages/spatial-bookmarks/SpatialBookmarksViewModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add documentation for group layer
  src/packages/map/README.md
Due: prettier --write --ignore-path .eslintignore

log exception
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

move type to the top of the file
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add missing mapId prop in README
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

improve comments
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix event type
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

code formatting
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

improve README: precision, default projections and props
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

refactoring of coordinates parsing
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

added diagram showing layer types structure
  src/packages/map/README.md
Due: prettier --write --ignore-path .eslintignore

fix links in README
  src/packages/map/README.md
Due: prettier --write --ignore-path .eslintignore

add internal documentation of layer structure
  src/packages/map/internals.md
Due: prettier --write --ignore-path .eslintignore

add changeset
  .changeset/plenty-socks-report.md
Due: prettier --write --ignore-path .eslintignore

code review
  src/packages/map/README.md
Due: prettier --write --ignore-path .eslintignore

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
