Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update ol-app to use useMapModelValue where appropriate
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/map-sample/ol-app/ui/Search.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write, eslint

introduce search api with reset function (WIP)
  pnpm-lock.yaml
  src/packages/search/Search.test.tsx
  src/packages/search/Search.tsx
  src/packages/search/SearchApiImpl.ts
  src/packages/search/api.ts
  src/packages/search/index.ts
  src/samples/test-search/search-app/AppUI.tsx
  src/samples/test-search/search-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

Only default to "hide-children" if a layer has no legend
  .changeset/easy-pigs-train.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

fix typeset
  .changeset/easy-pigs-train.md
Due: prettier --write

add documentation
  src/packages/search/README.md
  src/packages/search/api.ts
  src/samples/test-search/search-app/AppUI.tsx
Due: prettier --write, eslint

add test wrapper and clean up legend tests
  src/packages/legend/Legend.test.tsx
Due: prettier --write, eslint

Legend should stop recursion if a node / layer has a legend with tests (#492) (#491)
  .changeset/easy-pigs-train.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

clean example code
  .changeset/good-papers-wash.md
  src/packages/toc/README.md
Due: prettier --write

clean example code
  .changeset/legal-pens-attend.md
  src/packages/toc/README.md
Due: prettier --write

add tests
  src/packages/search/Search.test.tsx
  src/packages/search/Search.tsx
Due: prettier --write, eslint

add changeset
  .changeset/ripe-eels-dance.md
Due: prettier --write

refactoring
  src/packages/search/Search.tsx
  src/packages/search/SearchApiImpl.ts
  src/packages/search/api.ts
Due: prettier --write, eslint

add buffer to zoom function
  src/packages/map/api/MapModel.ts
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/Highlights.ts
Due: prettier --write, eslint

add changeset
  .changeset/crazy-days-send.md
Due: prettier --write

export legend listMode (#492) (#491)
  src/packages/legend/index.ts
Due: prettier --write, eslint

Introduce new layer factory service.
  .changeset/nine-insects-hunt.md
  src/packages/map-test-utils/index.ts
  src/packages/map/MapRegistryImpl.ts
  src/packages/map/api/MapModel.ts
  src/packages/map/api/MapRegistry.ts
  src/packages/map/api/index.ts
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/build.config.mjs
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/LayerFactory.test.ts
  src/packages/map/model/layers/LayerFactory.ts
  src/packages/map/model/layers/SimpleLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.test.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/map/model/layers/internals.ts
  src/packages/map/services.ts
  src/samples/experimental-sidebar/sidebar-app/MapConfigProviderImpl.ts
  src/samples/map-anchors/map-anchors-app/MapConfigProviderImpl.ts
  src/samples/ogc-api-sample/ogc-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/MapConfigProviderImpl.ts
  src/samples/test-printing-api/printing-api-app/MapConfigProviderImpl.ts
  src/samples/test-result-list/result-list-app/MapConfigProviderImpl.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

Fix build
  src/packages/map-test-utils/index.ts
  src/packages/map/internalTestSupport.ts
Due: prettier --write, eslint

Update changeset
  .changeset/crazy-days-send.md
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/build.config.mjs
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/i18n/en.yaml
Due: prettier --write, eslint

add buffer to zoom function (#392, #494)
  .changeset/crazy-days-send.md
  src/packages/map/api/MapModel.ts
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/Highlights.ts
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/build.config.mjs
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/i18n/en.yaml
Due: prettier --write, eslint

toc api chakra v2 legacy (#488)
  .changeset/legal-pens-attend.md
  package.json
  pnpm-lock.yaml
  src/packages/toc/README.md
  src/packages/toc/model/TocApiImpl.ts
  src/packages/toc/model/TocItemImpl.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/model/context.ts
  src/packages/toc/model/index.ts
  src/packages/toc/model/types.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
  src/samples/test-toc/toc-app/package.json
Due: prettier --write, eslint

Add missing helper file
  support/prepare-snapshots.ts
Due: prettier --write, eslint

Add zx dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update docs and changeset
  .changeset/good-papers-wash.md
  src/packages/toc/README.md
Due: prettier --write

Inline event handler signatures
  src/packages/toc/index.ts
  src/packages/toc/model/index.ts
  src/packages/toc/model/types.ts
  src/packages/toc/ui/Toc.tsx
Due: prettier --write, eslint

provide access to LayerItems via Toc Api (#420)
  .changeset/good-papers-wash.md
  package.json
  pnpm-lock.yaml
  src/packages/toc/README.md
  src/packages/toc/model/TocApiImpl.ts
  src/packages/toc/model/TocItemImpl.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/model/context.ts
  src/packages/toc/model/index.ts
  src/packages/toc/model/types.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
  src/samples/test-toc/toc-app/package.json
Due: prettier --write, eslint

Wording in README.md
  src/packages/search/README.md
Due: prettier --write

Add missing search trigger export
  src/packages/search/index.ts
Due: prettier --write, eslint

Update changeset
  .changeset/ripe-eels-dance.md
Due: prettier --write

Use a stable reference for `clearInput`
  src/packages/search/Search.tsx
Due: prettier --write, eslint

Cleanup samples
  src/samples/ogc-api-sample/index.html
  src/samples/ogc-api-sample/ogc-app/app.ts
  src/samples/test-search/index.html
  src/samples/test-search/search-app/app.ts
  src/samples/test-toc/index.html
  src/samples/test-toc/toc-app/app.ts
Due: prettier --write, eslint

Provide a search API with a method to reset the search input (#426, #493)
  .changeset/ripe-eels-dance.md
  pnpm-lock.yaml
  src/index.html
  src/packages/search/README.md
  src/packages/search/Search.test.tsx
  src/packages/search/Search.tsx
  src/packages/search/SearchApiImpl.ts
  src/packages/search/api.ts
  src/packages/search/index.ts
  src/samples/ogc-api-sample/index.html
  src/samples/ogc-api-sample/ogc-app/app.ts
  src/samples/test-search/index.html
  src/samples/test-search/search-app/AppUI.tsx
  src/samples/test-search/search-app/MapConfigProviderImpl.ts
  src/samples/test-search/search-app/app.css
  src/samples/test-search/search-app/app.ts
  src/samples/test-search/search-app/build.config.mjs
  src/samples/test-search/search-app/i18n/de.yaml
  src/samples/test-search/search-app/i18n/en.yaml
  src/samples/test-search/search-app/package.json
  src/samples/test-search/search-app/services.ts
Due: prettier --write, eslint

Gather all samples automatically
  vite.config.ts
Due: prettier --write, eslint

Update vite config with modern defaults
  vite.config.ts
Due: prettier --write, eslint

add unit test for insert at topmost
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write, eslint

Fix tests
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-viewer/__snapshots__/CoordinateViewer.test.tsx.snap
  src/packages/geolocation/__snapshots__/Geolocation.test.tsx.snap
  src/packages/legend/__snapshots__/Legend.test.tsx.snap
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/__snapshots__/InitialExtent.test.tsx.snap
  src/packages/map-navigation/__snapshots__/Zoom.test.tsx.snap
  src/packages/map-ui-components/__snapshots__/ToolButton.test.tsx.snap
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-viewer/__snapshots__/ScaleViewer.test.tsx.snap
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: none

Fix lockfile
  pnpm-lock.yaml
Due: prettier --write

Remove obsolete duplicate package
  support/duplicate-packages.yaml
Due: prettier --write

support insert at above/below for top most layer references
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html,yaml,yml})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
