Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json}": ["prettier --write --ignore-path .eslintignore"]
}

Update readme
  src/packages/result-list/README.md
Due: prettier --write --ignore-path .eslintignore

Remove log statement
  src/packages/result-list/DataTable/useSetupTable.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Added selectionMode parameter to support single row selection (#324)
  .changeset/eighty-chairs-care.md
  pnpm-lock.yaml
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/SelectCheckbox.tsx
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/DataTable/createColumns.test.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/result-list/index.ts
  src/packages/result-list/package.json
  src/samples/test-result-list/result-list-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Change default to `false`
  .changeset/odd-shirts-invite.md
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Added parameter memoizeRows to improve render performance. (#325)
  .changeset/odd-shirts-invite.md
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add new app
  pnpm-lock.yaml
  src/index.html
  src/samples/showcase/index.html
  src/samples/showcase/showcase-app/app.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/package.json
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

implement simple demo layout
  package.json
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppModel.ts
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/package.json
  src/samples/showcase/showcase-app/services.ts
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  tsconfig.json
Due: prettier --write --ignore-path .eslintignore, eslint

Integrate more demos into showcase app (wip)
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppModel.ts
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/package.json
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/sources/searchSources.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Implemented "search and highlight" demo; allow async app initialization
  package.json
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/selection/DragController.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/model/AppModel.ts
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/services.ts
  src/samples/showcase/showcase-app/sources/PhotonGeocoderSearchSource.ts
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update pnpm-lock
  pnpm-lock.yaml
Due: none

created changeset for fixed imports
  .changeset/little-nails-love.md
Due: prettier --write --ignore-path .eslintignore

update pnpm-lock
  .changeset/little-pears-sit.md
  package.json
  pnpm-lock.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/editing/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map-test-utils/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/ogc-features/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/react-utils/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/package.json
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/showcase/showcase-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
  src/samples/test-menu-fix/menu-fix-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore

Implement a simple locale switcher
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/LocaleSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Put demo id into the URL
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/model/AppModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update react
  .changeset/moody-radios-doubt.md
  package.json
  pnpm-lock.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/react-utils/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/toc/package.json
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/showcase/showcase-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
  src/samples/test-menu-fix/menu-fix-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore

added additional demos
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor header
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/DemoSelection.tsx
  src/samples/showcase/showcase-app/ui/Header.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Make header responsive
  src/samples/showcase/showcase-app/ui/DemoSelection.tsx
  src/samples/showcase/showcase-app/ui/Header.tsx
  src/samples/showcase/showcase-app/ui/LocaleSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/Header/DemoSelection.tsx
  src/samples/showcase/showcase-app/ui/Header/Header.tsx
  src/samples/showcase/showcase-app/ui/Header/HeaderFormControl.tsx
  src/samples/showcase/showcase-app/ui/Header/LocaleSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

added demo for toc and legend
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Don't include the map view's padding during printing
  .changeset/six-phones-invite.md
  src/packages/printing/Printing.test.tsx
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.ts
  src/packages/printing/PrintingServiceImpl.test.ts
  src/packages/printing/PrintingServiceImpl.ts
  src/packages/printing/README.md
  src/packages/printing/index.ts
  src/packages/printing/styles.css
Due: prettier --write --ignore-path .eslintignore, eslint

selection and result-list demo (wip)
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/model/Demo.tsx
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

checkpoint before demo refactoring
  src/samples/showcase/showcase-app/demos/Demo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/model/AppModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Split demos into multiple files, refactor demo interface.
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/Demo.tsx
  src/samples/showcase/showcase-app/demos/OverviewMapDemo.tsx
  src/samples/showcase/showcase-app/demos/SearchAndHighlightDemo.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
  src/samples/showcase/showcase-app/model/AppModel.ts
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/Header/Header.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Improve ove styling
  src/packages/react-utils/TitledSection.tsx
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/styles.scss
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add changeset
  .changeset/young-years-appear.md
Due: prettier --write --ignore-path .eslintignore

use kitas layer for selection demo
  src/samples/showcase/showcase-app/CustomLegendItems.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/styles.scss
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing sampleSites configuration for new showcase app.
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Improve focus border styling on map
  src/samples/showcase/showcase-app/styles.scss
Due: none

Fix audit
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Patch react select to use valid aria-activedescendant when no option is focussed
  patches/react-select@5.8.0.patch
  pnpm-lock.yaml
Due: none

Fix snapshots
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
Due: none

small fixes (code review)
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingServiceImpl.ts
  src/packages/printing/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Scale viewPadding using devicePixelRatio
  src/packages/printing/PrintingServiceImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

parameter strategy and rewrite function url available
  .npmrc
  pnpm-lock.yaml
  src/packages/ogc-features/CHANGELOG.md
  src/packages/ogc-features/LICENSE
  src/packages/ogc-features/OgcFeatureSearchSource.test.ts
  src/packages/ogc-features/OgcFeatureSearchSource.ts
  src/packages/ogc-features/README.md
  src/packages/ogc-features/api.ts
  src/packages/ogc-features/createVectorSource.test.ts
  src/packages/ogc-features/createVectorSource.ts
  src/packages/ogc-features/requestUtils.test.ts
  src/packages/ogc-features/requestUtils.ts
  src/packages/ogc-features/typedoc.json
  src/samples/map-sample/ol-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix missing files
  pnpm-lock.yaml
  src/packages/ogc-features/CHANGELOG.md
  src/packages/ogc-features/LICENSE
  src/packages/ogc-features/OgcFeatureSearchSource.test.ts
  src/packages/ogc-features/createVectorSource.test.ts
  src/packages/ogc-features/requestUtils.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Don't include the map view's padding during printing (#311) (#326)
  .changeset/six-phones-invite.md
  src/packages/printing/Printing.test.tsx
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.ts
  src/packages/printing/PrintingServiceImpl.test.ts
  src/packages/printing/PrintingServiceImpl.ts
  src/packages/printing/README.md
  src/packages/printing/index.ts
  src/packages/printing/styles.css
Due: prettier --write --ignore-path .eslintignore, eslint

Fix vulnerability in dev dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Improve documentation
  .npmrc
  src/packages/ogc-features/README.md
  src/packages/ogc-features/api.ts
  src/packages/ogc-features/createVectorSource.ts
  src/packages/ogc-features/typedoc.json
  src/packages/selection/api.ts
Due: prettier --write --ignore-path .eslintignore, eslint
