Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

Add a check for mistakenly passing the map model directly
  src/packages/map/ui/useMapModel.test.tsx
  src/packages/map/ui/useMapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#81 use reactivity API wip
  src/packages/map-navigation/NaviHistory.test.tsx
  src/packages/map-navigation/NaviHistory.tsx
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/__snapshots__/NaviHistory.test.tsx.snap
  src/samples/map-sample/ol-app/ui/MapViewNavigation.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Move computeMapAnchorStyles to own file
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
Due: prettier --write --ignore-path .eslintignore, eslint

remove unused import
  src/packages/map/ui/MapContext.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Move attribution according to the map view's padding (#339, #364)
  .changeset/shiny-masks-add.md
  .changeset/tidy-eagles-end.md
  src/packages/map/README.md
  src/packages/map/ui/CssProps.ts
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/MapContext.ts
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
  src/packages/map/ui/styles.css
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#81 added tests
  pnpm-lock.yaml
  src/packages/map-navigation/NaviHistory.test.tsx
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

#81 updated read me
  src/packages/map-navigation/README.md
Due: prettier --write --ignore-path .eslintignore

Use pnpm catalog, remove syncpack
  .github/workflows/test-and-build.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/editing/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map-test-utils/package.json
  src/packages/map-ui-components/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/ogc-features/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/package.json
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/showcase/showcase-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
  src/samples/test-menu-fix/menu-fix-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore

Remove obsolete configuration file
  .syncpackrc.cjs
Due: prettier --write --ignore-path .eslintignore, eslint

Switch to fixed version scheme, update changesets
  .changeset/config.json
  .changeset/short-pets-complain.md
  .github/actions/install/action.yml
  package.json
  patches/@changesets__assemble-release-plan.patch
  patches/@changesets__assemble-release-plan@5.2.4.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/samples/experimental-sidebar/sidebar-app/CHANGELOG.md
  src/samples/map-sample/ol-app/CHANGELOG.md
  src/samples/ogc-api-sample/ogc-app/CHANGELOG.md
  src/samples/showcase/showcase-app/CHANGELOG.md
  src/samples/test-basemap-switcher/basemap-switcher-app/CHANGELOG.md
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/CHANGELOG.md
  src/samples/test-printing-api/printing-api-app/CHANGELOG.md
  src/samples/test-result-list/result-list-app/CHANGELOG.md
  src/samples/test-toc/toc-app/CHANGELOG.md
Due: prettier --write --ignore-path .eslintignore

improve documentation
  src/packages/map-navigation/NaviHistory.tsx
  src/packages/map-navigation/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

use capital letter for interface name
  src/packages/map-navigation/ViewHistoryModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

internal component, not necessary to export
  src/packages/map-navigation/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add package index
  README.md
Due: prettier --write --ignore-path .eslintignore

Resolve vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Resolve vulnerabilities - update vite version specifier
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

code formatting
  src/packages/map-navigation/NaviHistory.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

typo
  src/packages/map-navigation/NaviHistory.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use new MapModelProps after update to main
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

code review: fix typos, minor clean up
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Move to catalog dependencies, remove redundant `act()` around userEvent.xyz() calls
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

in German the words are not separated
  src/packages/coordinate-search/i18n/de.yaml
Due: none

improved documentation and description
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

add newlines for better code readability
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add newlines for better code readability
  src/packages/coordinate-search/CoordinateSearch.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#81rename without navi, update viewModel on mapChange, less destroy
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/README.md
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/index.ts
  src/samples/map-sample/ol-app/ui/MapViewNavigation.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

missing renames
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/index.ts
  src/samples/map-sample/ol-app/ui/MapViewNavigation.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing changeset
  .changeset/rare-tomatoes-judge.md
Due: prettier --write --ignore-path .eslintignore

Minor refactoring
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Move demo to showcase app
  src/packages/map-navigation/index.ts
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/map-sample/ol-app/ui/MapViewNavigation.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing dependency
  pnpm-lock.yaml
  src/packages/map-navigation/package.json
Due: prettier --write --ignore-path .eslintignore

add forward and backward buttons for the map view (#81, #365)
  .changeset/rare-tomatoes-judge.md
  pnpm-lock.yaml
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/README.md
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/i18n/de.yaml
  src/packages/map-navigation/i18n/en.yaml
  src/packages/map-navigation/index.ts
  src/packages/map-navigation/package.json
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 remove from map sample, added to showcase, changes on style and aria label
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/packages/coordinate-search/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
  src/samples/map-sample/ol-app/ui/Footer.tsx
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

code review: fix typos
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

#70 renamed coordinate systems, added changeset, removed aria-labelledby
  .changeset/red-rice-applaud.md
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 copiable placeholder
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

#70 set input from outside
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 correction projection
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use new CLI command to check for duplicate packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore
