Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write", "eslint"],
    "*.{md,json,css,scss,html,yaml,yml}": ["prettier --write"]
}

Configure topmost layers in MapConfig (#655, #656)
  .changeset/lemon-sloths-serve.md
  .changeset/wise-phones-sort.md
  src/packages/map-test-utils/index.ts
  src/packages/map/layers/AbstractLayer.test.ts
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/shared/AddLayerOptions.ts
  src/packages/map/layers/shared/LayerConfig.ts
  src/packages/map/layers/shared/internals.ts
  src/packages/map/model/LayerCollection.test.ts
  src/packages/map/model/LayerCollection.ts
  src/packages/map/model/MapConfig.ts
  src/packages/map/model/createMapModel.test.ts
  src/packages/map/model/createMapModel.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

Update README.md
  src/packages/map/README.md
Due: prettier --write

make sure that overlay message is centered while printing
  src/packages/printing/utils.ts
Due: prettier --write, eslint

more consistent naming of different resolutions
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingServiceImpl.ts
  src/packages/printing/i18n/de.yaml
  src/packages/printing/i18n/en.yaml
  src/packages/printing/utils.ts
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

use sourceId for logger
  src/packages/printing/Printing.tsx
Due: prettier --write, eslint

Update snapshots
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
Due: none

Update to chakra 3.37.0
  .changeset/cool-results-kick.md
  patches/@ark-ui__react.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
Due: prettier --write, eslint

Add 'setStyle' method to Highlight interface
  .changeset/icy-ties-make.md
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/Highlights.ts
Due: prettier --write, eslint

Fix grammar
  .changeset/icy-ties-make.md
Due: prettier --write

Allow 'undefined' for style argument, update sample app
  src/packages/map/model/Highlights.ts
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
Due: prettier --write, eslint

fix tests after merging main
  src/packages/geolocation/Geolocation.test.tsx
  src/packages/map-navigation/Zoom.test.tsx
Due: prettier --write, eslint

add changeset
  .changeset/petite-words-beg.md
  src/packages/spatial-bookmarks/SpatialBookmarks.test.tsx
Due: prettier --write, eslint

typo
  .changeset/petite-words-beg.md
Due: prettier --write

Add 'setStyle' method to Highlight interface (#690)
  .changeset/icy-ties-make.md
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/Highlights.ts
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
Due: prettier --write, eslint

consistent naming of size and pageFormat
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.ts
  src/packages/printing/i18n/de.yaml
  src/packages/printing/i18n/en.yaml
  src/packages/printing/utils.ts
Due: prettier --write, eslint

improve checks whether variables are undefined (0 is a valid value), false -> undefined
  src/packages/printing/PrintingServiceImpl.ts
Due: prettier --write, eslint

remove fixed rendering timeout
  src/packages/printing/PrintingServiceImpl.ts
Due: prettier --write, eslint

Update changesets
  .changeset/nice-snails-yell.md
  .changeset/petite-words-beg.md
Due: prettier --write

Don't mock rendering in vitest's browser mode
  .changeset/six-squids-wave.md
  src/packages/map-test-utils/index.ts
  src/packages/map/model/createMapModel.ts
Due: prettier --write, eslint

Fix map initialization if initial view is configured with extent (#606, #691)
  .changeset/nice-snails-yell.md
  .changeset/petite-words-beg.md
  .changeset/six-squids-wave.md
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/geolocation/Geolocation.test.tsx
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/Zoom.test.tsx
  src/packages/map-test-utils/index.ts
  src/packages/map/MapRegistry.test.ts
  src/packages/map/model/Highlights.test.ts
  src/packages/map/model/MapAttributions.test.tsx
  src/packages/map/model/MapModel.test.ts
  src/packages/map/model/MapModel.ts
  src/packages/map/model/createMapModel.ts
  src/packages/map/ui/MapContainer.test.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/overview-map/OverviewMap.test.tsx
  src/packages/overview-map/OverviewMap.tsx
  src/packages/overview-map/package.json
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-viewer/ScaleViewer.test.tsx
  src/packages/spatial-bookmarks/SpatialBookmarks.test.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Tools.test.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
Due: prettier --write, eslint

[Feature-Editing] Don't show the cancel dialog when the feature was not modified (#677)
  .changeset/tired-camels-beg.md
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
  vite.config.ts
Due: prettier --write, eslint

Make help tooltips look like chakra's tooltips
  .changeset/fruity-toes-remain.md
  .changeset/slimy-tires-count.md
  pnpm-lock.yaml
  src/packages/editing/Tooltip.ts
  src/packages/editing/build.config.mjs
  src/packages/editing/editing.css
  src/packages/editing/package.json
  src/packages/feature-editing/build.config.mjs
  src/packages/feature-editing/implementation/featureEditing.css
  src/packages/feature-editing/implementation/geometry-editing/interactions/DrawingInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/interactions/ModificationInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/interactions/SelectionInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/overlays.ts
  src/packages/feature-editing/package.json
  src/packages/map-ui-components/README.md
  src/packages/map-ui-components/TooltipBox.tsx
  src/packages/map-ui-components/index.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/MeasurementTooltip.tsx
  src/packages/measurement/build.config.mjs
  src/packages/measurement/measurement.css
  src/packages/measurement/package.json
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
  src/packages/selection/model/SelectionViewModel.test.ts
  src/packages/selection/model/SelectionViewModel.ts
  src/packages/selection/package.json
  src/packages/selection/ui/SelectionTooltipContent.tsx
  src/packages/selection/ui/selection.css
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/package.json
Due: prettier --write, eslint

Cleanup
  .changeset/fruity-toes-remain.md
  src/packages/feature-editing/implementation/geometry-editing/interactions/DrawingInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/overlays.ts
  src/packages/map-ui-components/README.md
  src/packages/map-ui-components/TooltipBox.test.tsx
  src/packages/map-ui-components/__snapshots__/TooltipBox.test.tsx.snap
  src/packages/measurement/MeasurementTooltip.tsx
  src/packages/selection/i18n/en.yaml
Due: prettier --write, eslint

Make help tooltips look like chakra's tooltips (#597, #694)
  .changeset/fruity-toes-remain.md
  .changeset/slimy-tires-count.md
  pnpm-lock.yaml
  src/packages/editing/Tooltip.ts
  src/packages/editing/build.config.mjs
  src/packages/editing/editing.css
  src/packages/editing/package.json
  src/packages/feature-editing/build.config.mjs
  src/packages/feature-editing/implementation/featureEditing.css
  src/packages/feature-editing/implementation/geometry-editing/interactions/DrawingInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/interactions/ModificationInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/interactions/SelectionInteraction.ts
  src/packages/feature-editing/implementation/geometry-editing/overlays.ts
  src/packages/feature-editing/package.json
  src/packages/map-ui-components/README.md
  src/packages/map-ui-components/TooltipBox.test.tsx
  src/packages/map-ui-components/TooltipBox.tsx
  src/packages/map-ui-components/__snapshots__/TooltipBox.test.tsx.snap
  src/packages/map-ui-components/index.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/MeasurementTooltip.tsx
  src/packages/measurement/build.config.mjs
  src/packages/measurement/measurement.css
  src/packages/measurement/package.json
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
  src/packages/selection/model/SelectionViewModel.test.ts
  src/packages/selection/model/SelectionViewModel.ts
  src/packages/selection/package.json
  src/packages/selection/ui/SelectionTooltipContent.tsx
  src/packages/selection/ui/selection.css
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/package.json
Due: prettier --write, eslint

Configure audit level in pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bump js-yaml due to CVEs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

rename getSelectionAvailability to resolveSelectionAvailability
  .changeset/busy-views-join.md
  src/packages/feature-editing/README.md
  src/packages/feature-editing/api/editor/editor.ts
  src/packages/feature-editing/api/model/SelectionAvailability.ts
  src/packages/feature-editing/implementation/FeatureEditor.test.tsx
  src/packages/feature-editing/implementation/FeatureEditor.tsx
  src/packages/feature-editing/implementation/components/action-selector/ActionSelector.tsx
  src/packages/feature-editing/implementation/editor/editorHooks.ts
Due: prettier --write, eslint

Use view model to collapse groups
  src/packages/toc/ui/Tools.tsx
Due: prettier --write, eslint

Add changeset
  .changeset/crisp-pants-make.md
Due: prettier --write

Remove unused prop
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/Toc.tsx
Due: prettier --write, eslint

Cleanup API, add apidoc comments
  src/packages/toc/new-model/TocLayerNode.ts
  src/packages/toc/new-model/TocViewModel.test.ts
  src/packages/toc/new-model/TocViewModel.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write, eslint

More comments
  src/packages/toc/new-model/TocLayerNode.ts
  src/packages/toc/new-model/TocViewModel.ts
Due: prettier --write, eslint

[Feature-Editing] Disable the select button when there are no visible layers (#676)
  .changeset/busy-views-join.md
  src/packages/feature-editing/README.md
  src/packages/feature-editing/api/editor/editor.ts
  src/packages/feature-editing/api/model/SelectionAvailability.ts
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/FeatureEditor.test.tsx
  src/packages/feature-editing/implementation/FeatureEditor.tsx
  src/packages/feature-editing/implementation/components/action-selector/ActionSelector.tsx
  src/packages/feature-editing/implementation/components/action-selector/SelectButton.tsx
  src/packages/feature-editing/implementation/editor/editorHooks.ts
  src/packages/feature-editing/index.ts
  src/packages/map-test-utils/index.ts
Due: prettier --write, eslint

edit documentation for updated layer configuration in MapConfig
  src/packages/legend/README.md
  src/packages/map/README.md
Due: prettier --write

Move problem reporting into the view model
  .changeset/quiet-owls-report.md
  src/packages/map/layers/AbstractLayer.ts
  src/packages/toc/new-model/LayerIssue.ts
  src/packages/toc/new-model/TocLayerNode.test.ts
  src/packages/toc/new-model/TocLayerNode.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemIssues.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/hooks.ts
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write, eslint

edit documentation for updated layer configuration in MapConfig (#695)
  src/packages/legend/README.md
  src/packages/map/README.md
Due: prettier --write

update oxlint for compatibility with react 19.3.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update trails build tools
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write
