Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

#18 center correction
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#18 style of parent map anchors
  src/packages/map/ui/MapAnchor.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update toc api
  src/packages/toc/index.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#394 styling of search input to paste into it
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

add configuration option to fetch wms capabilities
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset entry
  .changeset/slimy-mails-whisper.md
Due: prettier --write --ignore-path .eslintignore

Update doc comments
  .changeset/slimy-mails-whisper.md
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/base.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Apply default value in constructor
  src/packages/map/model/layers/WMSLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Configuration option to fetch WMS capabilities (#396)
  .changeset/slimy-mails-whisper.md
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Fix audit (CVE-2025-26791, GHSA-67mh-4wv8-2f99)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Code review
  .changeset/short-jars-build.md
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add option to retrieve child layers from layer collection (#386)
  .changeset/sharp-boxes-build.md
  .changeset/short-jars-build.md
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/api/shared.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

raise deps for vitest and @formatjs/intl
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

raise ol deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Minor changes during code review
  src/experimental-packages/new-editing/index.ts
  src/experimental-packages/new-editing/tsx/context/PropertyFormContext.ts
  src/experimental-packages/new-editing/tsx/context/PropertyFormContextProvider.tsx
  src/experimental-packages/new-editing/tsx/hooks/editing/useEditing.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/editorHooks.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/useEditingCallbacks.ts
  src/experimental-packages/new-editing/tsx/model/EditingStep.ts
  src/experimental-packages/new-editing/tsx/model/FeatureTemplate.ts
  src/samples/editing-sample/editing-app/tsx/EditingComponent.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove BkgTopPlusOpen test layer source
  .changeset/ten-news-kick.md
  pnpm-lock.yaml
  src/index.html
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/map/MapRegistryImpl.test.ts
  src/packages/map/api/index.ts
  src/packages/map/layers/BkgTopPlusOpen.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/overview-map/OverviewMap.test.tsx
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/AppUI.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/MapConfigProviderImpl.ts
  src/samples/test-basemap-switcher/basemap-switcher-app/app.ts
  src/samples/test-basemap-switcher/basemap-switcher-app/build.config.mjs
  src/samples/test-basemap-switcher/basemap-switcher-app/i18n/en.yaml
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/services.ts
  src/samples/test-basemap-switcher/index.html
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Make getLayerById reactive (fixes #400)
  .changeset/rare-impalas-clap.md
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Replace usage of map model's getAllLayers with getLayer method
  src/packages/legend/Legend.tsx
  src/packages/map/MapRegistryImpl.test.ts
  src/packages/map/README.md
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/ui/MapContainer.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove obsolete snapshot
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
Due: none

Make tests less timing dependant
  src/packages/scale-setter/ScaleSetter.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove BkgTopPlusOpen test layer source (#401)
  .changeset/ten-news-kick.md
  pnpm-lock.yaml
  src/index.html
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/legend/Legend.tsx
  src/packages/map/MapRegistryImpl.test.ts
  src/packages/map/README.md
  src/packages/map/api/index.ts
  src/packages/map/layers/BkgTopPlusOpen.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/ui/MapContainer.test.tsx
  src/packages/overview-map/OverviewMap.test.tsx
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/AppUI.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/MapConfigProviderImpl.ts
  src/samples/test-basemap-switcher/basemap-switcher-app/app.ts
  src/samples/test-basemap-switcher/basemap-switcher-app/build.config.mjs
  src/samples/test-basemap-switcher/basemap-switcher-app/i18n/en.yaml
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/services.ts
  src/samples/test-basemap-switcher/index.html
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Make feature properties generic
  .changeset/nasty-seas-explode.md
  src/packages/map/api/BaseFeature.ts
Due: prettier --write --ignore-path .eslintignore, eslint

renaming; add changeset
  .changeset/empty-eyes-fry.md
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Allow pasting into search (#394, #395)
  .changeset/empty-eyes-fry.md
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Update docs
  src/packages/map/api/BaseFeature.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Make feature properties generic (#402, #403)
  .changeset/nasty-seas-explode.md
  src/packages/map/api/BaseFeature.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Deploy to /dev or /latest
  .github/actions/install/action.yml
  .github/workflows/audit-dependencies.yml
  .github/workflows/preview-pr.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/test-and-build.yml
  .github/workflows/version.yml
  README.md
Due: prettier --write --ignore-path .eslintignore

Remove code block from changelog
  .changeset/ten-news-kick.md
Due: prettier --write --ignore-path .eslintignore

Formatting
  .changeset/wicked-doors-flash.md
Due: prettier --write --ignore-path .eslintignore

Deploy to latest once
  .github/workflows/test-and-build.yml
Due: none

Revert "Deploy to latest once"
  .github/workflows/test-and-build.yml
Due: none

Deprecate mapId APIs
  .changeset/ninety-houses-shake.md
  .changeset/thick-mayflies-drive.md
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/editing/EditingServiceImpl.ts
  src/packages/editing/api.ts
  src/packages/map/ui/DefaultMapProvider.tsx
  src/packages/map/ui/useMapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Use map instead of mapId in samples
  src/samples/experimental-sidebar/sidebar-app/AppUI.tsx
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/ogc-api-sample/ogc-app/MapApp.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/model/AppModel.ts
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
  src/samples/test-printing-api/printing-api-app/AppUI.tsx
  src/samples/test-result-list/result-list-app/AppUI.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove unused import
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update deps
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

migrate to react 19
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/legend/Legend.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/result-list/DataTable/ColumnResizer.tsx
  src/packages/result-list/DataTable/ColumnSortIndicator.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/Selection.tsx
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

update react select patch
  package.json
  patches/react-select.patch
  patches/react-select@5.8.0.patch
Due: prettier --write --ignore-path .eslintignore

up node version
  package.json
Due: prettier --write --ignore-path .eslintignore
