Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

update license config
  support/license-config.yaml
Due: none

remove redundant entries in license config
  support/license-config.yaml
Due: none

Remove usages of mapId from tests
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-viewer/CoordinateViewer.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/geolocation/Geolocation.test.tsx
  src/packages/legend/Legend.test.tsx
  src/packages/map-navigation/InitialExtent.test.tsx
  src/packages/map-navigation/Zoom.test.tsx
  src/packages/map-test-utils/index.ts
  src/packages/map/MapRegistryImpl.test.ts
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapContainer.test.tsx
  src/packages/map/ui/hooks.test.tsx
  src/packages/measurement/Measurement.test.tsx
  src/packages/overview-map/OverviewMap.test.tsx
  src/packages/printing/Printing.test.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/scale-bar/ScaleBar.test.tsx
  src/packages/search/Search.test.tsx
  src/packages/selection/Selection.test.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Tools.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove usage of deprecated editing service API
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove redundant dep maplibre/maplibre-gl-style-spec
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

edit overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

add changeset
  .changeset/mean-impalas-dance.md
Due: prettier --write --ignore-path .eslintignore

Remove obsolete license files
  support/licenses/bytewise_mit
  support/licenses/react_style_singleton_mit
  support/licenses/typewise_mit
Due: none

REmove obsolete duplicate package configuration
  support/duplicate-packages.yaml
Due: none

Migrate typedoc config to ESM
  typedoc.config.mjs
Due: prettier --write --ignore-path .eslintignore, eslint

Fix react-select patch; update disableReactActWarnings helper
  patches/react-select.patch
  pnpm-lock.yaml
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
  src/testing/test-utils/disable-act-warnings.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update to latest core packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add changeset
  .changeset/cuddly-monkeys-do.md
Due: prettier --write --ignore-path .eslintignore

fix scale calculation for non-metric projection (#406)
  .changeset/cuddly-monkeys-do.md
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/ui/hooks.ts
Due: prettier --write --ignore-path .eslintignore, eslint

adjust documentation; adjust some test
  docs/concepts/UI.md
  docs/templates/package-README.md
  src/packages/basemap-switcher/README.md
  src/packages/coordinate-search/README.md
  src/packages/coordinate-viewer/README.md
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/README.md
  src/packages/geolocation/README.md
  src/packages/legend/README.md
  src/packages/map-navigation/README.md
  src/packages/map-test-utils/index.ts
  src/packages/map/README.md
  src/packages/measurement/README.md
  src/packages/overview-map/README.md
  src/packages/printing/README.md
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/scale-bar/README.md
  src/packages/scale-setter/README.md
  src/packages/scale-viewer/README.md
  src/packages/search/README.md
  src/packages/selection/README.md
  src/packages/spatial-bookmarks/README.md
  src/packages/toc/README.md
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

adjust documentation; fix typos
  src/packages/map/README.md
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update publish snapshot workflow
  .github/workflows/publish-snapshot.yml
Due: none

fix example
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix parameter type
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

edit exports
  src/packages/toc/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Fix audit (CVE-2025-27789)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Resolve CVEs (GHSA-968p-4wvh-cqc8, GHSA-v2mw-5mch-w8c5)
  package.json
  pnpm-lock.yaml
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore

display legend for layers in groups
  src/packages/legend/Legend.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset
  .changeset/cool-planets-help.md
Due: prettier --write --ignore-path .eslintignore

add changeset
  .changeset/curvy-dingos-tell.md
Due: prettier --write --ignore-path .eslintignore

code review; added tests for legend with group layers
  .changeset/cool-planets-help.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Display legend of layers belonging to GroupLayers (#413)
  .changeset/cool-planets-help.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

adjust dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-search/package.json
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/package.json
  src/packages/geolocation/package.json
  src/packages/legend/Legend.tsx
  src/packages/legend/package.json
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
  src/packages/map-navigation/package.json
  src/packages/map-ui-components/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/package.json
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/showcase/showcase-app/package.json
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
  src/samples/test-menu-fix/menu-fix-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

update tool button
  pnpm-lock.yaml
  src/packages/chakra-snippets/build.config.mjs
  src/packages/chakra-snippets/index.ts
  src/packages/chakra-snippets/package.json
  src/packages/chakra-snippets/snippets/tooltip.tsx
  src/packages/geolocation/Geolocation.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-ui-components/ToolButton.test.tsx
  src/packages/map-ui-components/ToolButton.tsx
  src/packages/map-ui-components/package.json
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/Toc.tsx
  src/samples/map-sample/ol-app/map/CustomLegendItems.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/minimal-sample/index.html
  src/samples/minimal-sample/mini-app/AppUI.tsx
  src/samples/minimal-sample/mini-app/app.ts
  src/samples/minimal-sample/mini-app/build.config.mjs
  src/samples/minimal-sample/mini-app/package.json
  src/samples/ogc-api-sample/ogc-app/MapApp.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

use latest core snapshot
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

work on TOC migration
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/chakra-snippets/index.ts
  src/packages/chakra-snippets/snippets/checkbox.tsx
  src/packages/chakra-snippets/snippets/tooltip.tsx
  src/packages/toc/package.json
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add options to addLayer for a more control over the layer position
  src/packages/map/api/MapModel.ts
  src/packages/map/api/shared.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

added changeset
  .changeset/chilled-laws-swim.md
Due: prettier --write --ignore-path .eslintignore

Resolve CVE (CVE-2025-30208, GHSA-x574-m823-4x7w)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update vite (CVE-2025-31125)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

simplify code
  src/packages/legend/Legend.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

make toc model and api constant
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint
