Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

add translations in demo
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Update to latest development snapshot of core packages
  .changeset/popular-penguins-chew.md
  package.json
  patches/@chakra-ui__hooks.patch
  patches/@chakra-ui__hooks@2.2.1.patch
  patches/@chakra-ui__menu@2.2.1.patch
  patches/@chakra-ui__react-use-outside-click@2.2.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Update documentation of layers in map package (#375)
  .changeset/plenty-socks-report.md
  src/packages/map/README.md
  src/packages/map/internals.md
Due: prettier --write --ignore-path .eslintignore

Update to latest development snapshot of core packages (#376)
  .changeset/popular-penguins-chew.md
  package.json
  patches/@chakra-ui__hooks.patch
  patches/@chakra-ui__hooks@2.2.1.patch
  patches/@chakra-ui__menu@2.2.1.patch
  patches/@chakra-ui__react-use-outside-click@2.2.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/search/Search.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Add github action for snapshot publishing
  .github/workflows/publish-snapshot.yml
Due: none

Add github action for snapshot publishing
  .changeset/config.json
  .github/workflows/publish-snapshot.yml
Due: prettier --write --ignore-path .eslintignore

typo
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for unknown projections
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for default projections
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for no placeholder
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

merge similar tests, add tests for invalid inputs
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

check whether input field is cleared
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

better test description
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

tests for validating extent
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for copy button on string placeholder
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

merge similar unit tests
  src/packages/coordinate-search/CoordinateSearch.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove empty optional props
  src/packages/coordinate-search/CoordinateSearch.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for checking if map center is updated
  src/packages/coordinate-search/CoordinateSearch.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] add documentation
  src/packages/selection/README.md
Due: prettier --write --ignore-path .eslintignore

[Selection] make selectionMethod reactive
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] add changeset
  .changeset/orange-islands-ring.md
Due: prettier --write --ignore-path .eslintignore

move collapsible to context
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

move property collapsibleGroups to proper context
  src/packages/toc/Context.ts
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

introduce expanded model
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix compiler errors in tests
  src/packages/toc/LayerList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update snapshots
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: none

[Selection] fix css on window close
  src/packages/selection/selection-controller/ClickController.ts
  src/packages/selection/selection-controller/DragController.ts
  src/packages/selection/selection-controller/helper.ts
Due: prettier --write --ignore-path .eslintignore, eslint

[Selection] rename internal SelectionKind -> SelectionMethod
  src/packages/selection/Selection.tsx
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use epxanded model in tools instead of click handler
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add aria expanded
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

edit aria labels
  src/packages/toc/LayerList.tsx
  src/packages/toc/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

update doc
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests for tools
  src/packages/toc/LayerList.tsx
  src/packages/toc/Tools.test.tsx
  src/packages/toc/Tools.tsx
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests for LayerList
  src/packages/toc/LayerList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix test condition
  src/packages/toc/Tools.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

test
  .husky/pre-commit
Due: none

fix typo
  src/packages/editing/api.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add placeholder prop to Search component
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update README.md and doc comment for placeholder prop
  src/packages/search/README.md
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add changeset file
  .changeset/quiet-kangaroos-live.md
Due: prettier --write --ignore-path .eslintignore

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
