Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Update pnpm in workflow
  .github/workflows/audit-dependencies.yml
  .github/workflows/test-and-build.yml
  .github/workflows/version.yml
Due: none

Update workflow
  .github/workflows/test-and-build.yml
Due: none

Code review (#41)
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/EditingServiceImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/SaveFeaturesHandler.test.ts
  src/packages/editing/SaveFeaturesHandler.ts
  src/packages/editing/Tooltip.ts
  src/packages/editing/api.ts
  src/packages/editing/services.ts
Due: prettier --write --ignore-path .eslintignore, eslint

restore patch
  patches/@changesets__assemble-release-plan@5.2.4.patch
Due: none

add package metadata
  src/packages/authentication-keycloak/CHANGELOG.md
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Code review
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/LICENSE
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/services.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix lockfile
  pnpm-lock.yaml
Due: none

fix license indent
  src/packages/authentication-keycloak/LICENSE
Due: none

Test sample application, expose types for package configuration
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/api.ts
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/getKeycloakConfig.test.ts
  src/samples/keycloak-sample/AppUI.tsx
  src/samples/keycloak-sample/SampleTokenInterceptor.ts
  src/samples/keycloak-sample/app.ts
  src/samples/keycloak-sample/build.config.mjs
  src/samples/keycloak-sample/index.html
  src/samples/keycloak-sample/services.ts
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add changesets
  .changeset/honest-bikes-draw.md
  .changeset/tidy-gifts-appear.md
Due: prettier --write --ignore-path .eslintignore

Don't export implementation class
  src/packages/authentication-keycloak/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Improve usage example
  src/packages/authentication-keycloak/README.md
Due: prettier --write --ignore-path .eslintignore

Remove obsolete action
  .github/workflows/remove-old-artifacts.yml
Due: none

Don't throw when stopping a non-existant workflow
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/EditingServiceImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Remove references to login/logoutOptions, they are not implemented (yet)
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/api.ts
  src/packages/legend/Legend.test.tsx
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/layers/WMTSLayerImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Emit a notification if an error happens during init()
  pnpm-lock.yaml
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/i18n/de.yaml
  src/packages/authentication-keycloak/i18n/en.yaml
  src/packages/authentication-keycloak/package.json
  src/samples/keycloak-sample/AppUI.tsx
  src/samples/keycloak-sample/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Update notification messages
  src/packages/authentication-keycloak/i18n/de.yaml
  src/packages/authentication-keycloak/i18n/en.yaml
Due: none

Changed ResultListProps interface to differentiate between highlightOptions and zoomOptions.
  .changeset/sweet-penguins-guess.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

changed to minor bump because of interface changes
  .changeset/sweet-penguins-guess.md
Due: prettier --write --ignore-path .eslintignore

Changed ResultListProps interface for highlighting (#316)
  .changeset/sweet-penguins-guess.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove unnecessary "required" attribute on text-input (#317)
  src/packages/printing/Printing.tsx
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Add changeset file
  .changeset/four-candles-greet.md
Due: prettier --write --ignore-path .eslintignore

Remove required attribute from title input in printing widget (#317, #318)
  .changeset/four-candles-greet.md
  src/packages/printing/Printing.tsx
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Remove references to application specific client scopes
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/getKeycloakConfig.test.ts
  src/samples/keycloak-sample/app.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add typedoc config
  pnpm-lock.yaml
  src/packages/authentication-keycloak/package.json
  src/packages/authentication-keycloak/typedoc.json
Due: prettier --write --ignore-path .eslintignore

Authentication with keycloak (#307, #308)
  .changeset/honest-bikes-draw.md
  .changeset/tidy-gifts-appear.md
  pnpm-lock.yaml
  src/index.html
  src/packages/authentication-keycloak/CHANGELOG.md
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/LICENSE
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/api.ts
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/getKeycloakConfig.test.ts
  src/packages/authentication-keycloak/i18n/de.yaml
  src/packages/authentication-keycloak/i18n/en.yaml
  src/packages/authentication-keycloak/index.ts
  src/packages/authentication-keycloak/package.json
  src/packages/authentication-keycloak/services.ts
  src/packages/authentication-keycloak/typedoc.json
  src/packages/geolocation/package.json
  src/packages/legend/Legend.test.tsx
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/layers/WMTSLayerImpl.test.ts
  src/packages/printing/package.json
  src/packages/selection/package.json
  src/samples/keycloak-sample/AppUI.tsx
  src/samples/keycloak-sample/LogoutButton.tsx
  src/samples/keycloak-sample/MapConfigProviderImpl.ts
  src/samples/keycloak-sample/SampleTokenInterceptor.ts
  src/samples/keycloak-sample/app.ts
  src/samples/keycloak-sample/build.config.mjs
  src/samples/keycloak-sample/i18n/de.yaml
  src/samples/keycloak-sample/i18n/en.yaml
  src/samples/keycloak-sample/index.html
  src/samples/keycloak-sample/package.json
  src/samples/keycloak-sample/services.ts
  src/samples/map-sample/ol-app/package.json
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Remove authentication-keycloak package.
  .changeset/honest-bikes-draw.md
  pnpm-lock.yaml
  src/index.html
  src/packages/authentication-keycloak/CHANGELOG.md
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/LICENSE
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/api.ts
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/getKeycloakConfig.test.ts
  src/packages/authentication-keycloak/i18n/de.yaml
  src/packages/authentication-keycloak/i18n/en.yaml
  src/packages/authentication-keycloak/index.ts
  src/packages/authentication-keycloak/package.json
  src/packages/authentication-keycloak/services.ts
  src/packages/authentication-keycloak/typedoc.json
  src/samples/keycloak-sample/AppUI.tsx
  src/samples/keycloak-sample/LogoutButton.tsx
  src/samples/keycloak-sample/MapConfigProviderImpl.ts
  src/samples/keycloak-sample/SampleTokenInterceptor.ts
  src/samples/keycloak-sample/app.ts
  src/samples/keycloak-sample/build.config.mjs
  src/samples/keycloak-sample/i18n/de.yaml
  src/samples/keycloak-sample/i18n/en.yaml
  src/samples/keycloak-sample/index.html
  src/samples/keycloak-sample/package.json
  src/samples/keycloak-sample/services.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Adjust tooltip and button texts so that a combination of object and verb is given
  src/packages/map-navigation/i18n/de.yaml
  src/packages/printing/i18n/de.yaml
  src/packages/printing/i18n/en.yaml
Due: none

Adjust tooltip text so that a combination of object and verb is given
  src/packages/map-navigation/i18n/en.yaml
Due: none

Add changeset
  .changeset/sharp-news-sin.md
Due: prettier --write --ignore-path .eslintignore

Rename text for map printing and zooming to contain a combination of object and verb (#319)
  .changeset/sharp-news-sin.md
  src/packages/map-navigation/i18n/de.yaml
  src/packages/map-navigation/i18n/en.yaml
  src/packages/printing/i18n/de.yaml
  src/packages/printing/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore

added selectionMode and selectionStyle for result list (WIP)
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/createColumns.test.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Adjusted name of Open Pioneer project to Open Pioneer Trails
  .changeset/ten-mirrors-relate.md
  docs/guidelines/Release.md
  src/packages/map/README.md
  typedoc.config.cjs
Due: prettier --write --ignore-path .eslintignore, eslint

removed selectionStyle and included it as a selectionMode
  src/packages/result-list/DataTable/createColumns.test.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

minor bumped version
  .changeset/eighty-chairs-care.md
  src/packages/result-list/package.json
Due: prettier --write --ignore-path .eslintignore

updated README.md
  src/packages/result-list/README.md
Due: prettier --write --ignore-path .eslintignore

added optional parameter memoizeRows to improve render performance.
  .changeset/odd-shirts-invite.md
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Don't increment versions manually
  src/packages/result-list/package.json
Due: prettier --write --ignore-path .eslintignore

Refactor and add a sample.
  pnpm-lock.yaml
  src/packages/result-list/DataTable/SelectCheckbox.tsx
  src/packages/result-list/DataTable/SelectComponent.tsx
  src/packages/result-list/DataTable/createColumns.test.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/packages/result-list/index.ts
  src/packages/result-list/package.json
  src/samples/test-result-list/result-list-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
