Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Run prettier
  src/experimental-packages/window/tsx/Window.tsx
  src/experimental-packages/window/tsx/frame/frame.ts
  src/experimental-packages/window/tsx/frame/useFrame.ts
  src/experimental-packages/window/tsx/frame/useFrameSavers.ts
  src/experimental-packages/window/tsx/frame/useLocalStorageFrame.ts
  src/experimental-packages/window/tsx/titlebar/TitleBar.tsx
  src/samples/window-sample/window-app/tsx/MainMapProvider.ts
  src/samples/window-sample/window-app/tsx/MapTool.tsx
  src/samples/window-sample/window-app/tsx/ToolWindow.tsx
  src/samples/window-sample/window-app/tsx/Toolbar.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Build sample app
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update license config
  pnpm-lock.yaml
  pnpm-workspace.yaml
  support/license-config.yaml
  support/licenses/bytewise_mit
  support/licenses/icons_material_mit
  support/licenses/typewise_mit
Due: none

Add `tocProps.isCollapsed` for initial collapsed groups
  src/packages/toc/Context.ts
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.test.tsx
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use trails color as background for selected items (#383).
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Sketch for dynamic configuration (-> delete when docs are done)
  src/public/config.json
  src/samples/map-sample/ol-app/app.ts
  src/samples/map-sample/ol-app/build.config.mjs
  src/samples/map-sample/ol-app/map/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix left aliginment if groups are not collapsible
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update snapshots
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: none

Update vite (CVE-2025-24010)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update snapshots
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: none

Add readme contents
  .changeset/wicked-doors-flash.md
  src/packages/toc/README.md
Due: prettier --write --ignore-path .eslintignore

Add missing title
  src/packages/toc/i18n/de.yaml
Due: none

Formatting
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor: use toc model to distribute shared state
  src/packages/toc/index.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools/Tools.test.tsx
  src/packages/toc/ui/Tools/Tools.tsx
  src/packages/toc/ui/Tools/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor: split layer list into files
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/LayerList/hooks.ts
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/utils/slug.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor: simplify toc component
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor: merge options with model
  src/packages/toc/Context.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.test.tsx
  src/packages/toc/ui/Tools.tsx
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Rename isCollapsed -> initiallyCollapsed
  src/packages/toc/README.md
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.test.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove potential timing problems due to unloaded map.
  src/packages/scale-viewer/ScaleViewer.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update snapshots
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
Due: none

Update types and comments
  src/packages/map/api/MapModel.ts
  src/packages/map/api/shared.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Decide on new API
  .changeset/sharp-boxes-build.md
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/api/shared.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update description of mapNavigation showcase
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: none

update documentation
  .changeset/wicked-doors-flash.md
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add collapse/expand buttons for groups in TOC (#377)
  .changeset/wicked-doors-flash.md
  pnpm-lock.yaml
  src/packages/scale-viewer/ScaleViewer.test.tsx
  src/packages/toc/Context.ts
  src/packages/toc/LayerList.tsx
  src/packages/toc/README.md
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.tsx
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
  src/packages/toc/index.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/package.json
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/LayerList.tsx
  src/packages/toc/ui/LayerList/hooks.ts
  src/packages/toc/ui/Toc.test.tsx
  src/packages/toc/ui/Toc.tsx
  src/packages/toc/ui/Tools.test.tsx
  src/packages/toc/ui/Tools.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/utils/slug.ts
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix sample build
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add getAllChildLayers
  .changeset/cold-radios-fix.md
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

try impl of getRecursiveLayer in collections
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Fix type problems
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix unit test
  src/packages/map/model/layers/GroupLayerImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

clean code and update documetation
  .changeset/short-jars-build.md
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/getRecursiveLayers.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update vitest (CVE-2025-24964)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

#18 added vCenter and hCenter to MapAnchor
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#18 individual styling with top, bottom, left and right for map Anchor
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

draft API to expand/collapse toc items
  src/packages/toc/index.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#18 rename with kebab-case
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#18 updated transition Properties
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/computeMapAnchorStyles.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
