Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

[Search] Customizable placeholder (#378)
  .changeset/quiet-kangaroos-live.md
  src/packages/search/README.md
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

WIP fixup! [Selection] move selection controller to subfolder
  .husky/pre-commit
Due: none

code review: minor documentation improvements
  .changeset/red-rice-applaud.md
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Reenable commit checks
  .husky/pre-commit
Due: none

fix test and lock file (after merge)
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add tooltips to clear and copy buttons; adjust aria label of clear button
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Fix tests
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: none

update changeset
  .changeset/eighty-peaches-learn.md
  .changeset/red-rice-applaud.md
Due: prettier --write --ignore-path .eslintignore

Add package to overview table
  README.md
Due: prettier --write --ignore-path .eslintignore

replace deprecated eslint rule
  typedoc.config.cjs
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor
  pnpm-lock.yaml
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/coordinates.ts
  src/packages/coordinate-search/index.ts
  src/packages/coordinate-search/package.json
  src/packages/coordinate-search/test-utils.ts
  src/packages/coordinate-search/usePlaceholder.test.tsx
  src/packages/coordinate-search/usePlaceholder.ts
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete snapshot
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
Due: none

User numberParser from core packages
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/build.config.mjs
  src/packages/coordinate-search/coordinates.ts
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Fix keyboard events from map anchor children.
  .changeset/five-ways-double.md
  src/packages/map/ui/MapContainer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Implement coordinate search components (#70, #355)
  .changeset/eighty-peaches-learn.md
  .changeset/red-rice-applaud.md
  .changeset/selfish-squids-travel.md
  README.md
  pnpm-lock.yaml
  src/packages/coordinate-search/CHANGELOG.md
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateInputField.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/LICENSE
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/coordinate-search/README.md
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/build.config.mjs
  src/packages/coordinate-search/coordinates.ts
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/packages/coordinate-search/index.ts
  src/packages/coordinate-search/package.json
  src/packages/coordinate-search/test-utils.ts
  src/packages/coordinate-search/typedoc.json
  src/packages/coordinate-search/usePlaceholder.test.tsx
  src/packages/coordinate-search/usePlaceholder.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/selection/VectorSelectionSource.ts
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Update trails core packages to 2.4.0
  .changeset/odd-trees-mix.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-path .eslintignore

Update OpenLayers to 10.3.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix unit tests
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/testing/global-setup.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Clarify documentation of scale property
  src/packages/map/api/MapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Fix white on white selected option
  .changeset/clean-gorillas-pump.md
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix audit
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Add `ButtonProps` to `ToolButton` (geolocation/map-navigation)
  src/packages/geolocation/Geolocation.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add changeset
  .changeset/silver-beds-refuse.md
Due: prettier --write --ignore-path .eslintignore

Allow configuration of buttonProps on tool button components (#384)
  .changeset/silver-beds-refuse.md
  src/packages/geolocation/Geolocation.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

improve calculation of scale from resolution
  src/packages/map/model/MapModelImpl.ts
  src/packages/map/ui/hooks.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add option to retrieve all (operational) layers including child layers
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/map/api/MapModel.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/search/__snapshots__/Search.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

edit documentation
  src/packages/map/api/MapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

edit documentation
  src/packages/map/api/MapModel.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

adjust sortLayersByDisplayOrder to properly work with baselayers and grouplayers
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add unit test for sortByDisplayOrder
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

adjust method overloads
  src/packages/map/api/MapModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset
  .changeset/short-jars-build.md
Due: prettier --write --ignore-path .eslintignore

move expand button and adjust icon (align with QGIS)
  src/packages/toc/LayerList.tsx
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Add new-editing package
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/new-editing/build.config.mjs
  src/experimental-packages/new-editing/i18n/de.yaml
  src/experimental-packages/new-editing/i18n/en.yaml
  src/experimental-packages/new-editing/index.ts
  src/experimental-packages/new-editing/package.json
  src/experimental-packages/new-editing/tsx/Editor.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/ActionBar.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/ActionSelector.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/SelectButton.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/TemplateRow.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/TemplateSelector.tsx
  src/experimental-packages/new-editing/tsx/components/form/ColorPicker.tsx
  src/experimental-packages/new-editing/tsx/components/form/DefaultInputControl.tsx
  src/experimental-packages/new-editing/tsx/components/form/DefaultPropertyForm.tsx
  src/experimental-packages/new-editing/tsx/components/form/NumericInput.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/ButtonRow.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/DeleteConfirmationDialog.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/PropertyEditor.tsx
  src/experimental-packages/new-editing/tsx/context/PropertyFormContext.ts
  src/experimental-packages/new-editing/tsx/context/PropertyFormContextProvider.tsx
  src/experimental-packages/new-editing/tsx/context/usePropertyFormContext.ts
  src/experimental-packages/new-editing/tsx/hooks/actions/UndoManager.ts
  src/experimental-packages/new-editing/tsx/hooks/actions/geometryHelpers.ts
  src/experimental-packages/new-editing/tsx/hooks/actions/useEditingActions.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/drawing.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/keyboard.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/modification.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/selection.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/snapping.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/useEditing.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/editorHooks.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/useEditingCallbacks.ts
  src/experimental-packages/new-editing/tsx/model/Action.ts
  src/experimental-packages/new-editing/tsx/model/EditingHandler.ts
  src/experimental-packages/new-editing/tsx/model/EditingStep.ts
  src/experimental-packages/new-editing/tsx/model/FeatureTemplate.ts
  src/experimental-packages/new-editing/tsx/types/types.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add editing-sample
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.html
  src/samples/editing-sample/editing-app/app.ts
  src/samples/editing-sample/editing-app/build.config.mjs
  src/samples/editing-sample/editing-app/i18n/de.yaml
  src/samples/editing-sample/editing-app/i18n/en.yaml
  src/samples/editing-sample/editing-app/package.json
  src/samples/editing-sample/editing-app/services.ts
  src/samples/editing-sample/editing-app/tsx/EditingApp.tsx
  src/samples/editing-sample/editing-app/tsx/EditingComponent.tsx
  src/samples/editing-sample/editing-app/tsx/featureTemplates.ts
  src/samples/editing-sample/editing-app/tsx/map/IDBVectorSource.ts
  src/samples/editing-sample/editing-app/tsx/map/MainMapProvider.ts
  src/samples/editing-sample/editing-app/tsx/map/getStore.ts
  src/samples/editing-sample/editing-app/tsx/store/IDBFeatureStore.ts
  src/samples/editing-sample/editing-app/tsx/store/database/FeatureDatabase.ts
  src/samples/editing-sample/editing-app/tsx/store/database/FeatureEntity.ts
  src/samples/editing-sample/editing-app/tsx/store/geometry/Envelope.ts
  src/samples/editing-sample/editing-app/tsx/store/geometry/GeometrySerializer.ts
  src/samples/editing-sample/index.html
Due: prettier --write --ignore-path .eslintignore, eslint

Patch react-color@2.19.3
  package.json
  patches/react-color@2.19.3.patch
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Run prettier
  src/experimental-packages/new-editing/tsx/Editor.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/ActionBar.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/ActionSelector.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/TemplateRow.tsx
  src/experimental-packages/new-editing/tsx/components/actionselector/TemplateSelector.tsx
  src/experimental-packages/new-editing/tsx/components/form/ColorPicker.tsx
  src/experimental-packages/new-editing/tsx/components/form/DefaultInputControl.tsx
  src/experimental-packages/new-editing/tsx/components/form/DefaultPropertyForm.tsx
  src/experimental-packages/new-editing/tsx/components/form/NumericInput.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/ButtonRow.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/DeleteConfirmationDialog.tsx
  src/experimental-packages/new-editing/tsx/components/propertyeditor/PropertyEditor.tsx
  src/experimental-packages/new-editing/tsx/context/PropertyFormContextProvider.tsx
  src/experimental-packages/new-editing/tsx/context/usePropertyFormContext.ts
  src/experimental-packages/new-editing/tsx/hooks/actions/useEditingActions.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/drawing.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/keyboard.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/modification.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/selection.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/snapping.ts
  src/experimental-packages/new-editing/tsx/hooks/editing/useEditing.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/editorHooks.ts
  src/experimental-packages/new-editing/tsx/hooks/editor/useEditingCallbacks.ts
  src/experimental-packages/new-editing/tsx/model/FeatureTemplate.ts
  src/samples/editing-sample/editing-app/tsx/EditingComponent.tsx
  src/samples/editing-sample/editing-app/tsx/featureTemplates.ts
  src/samples/editing-sample/editing-app/tsx/map/IDBVectorSource.ts
  src/samples/editing-sample/editing-app/tsx/map/MainMapProvider.ts
  src/samples/editing-sample/editing-app/tsx/map/getStore.ts
  src/samples/editing-sample/editing-app/tsx/store/IDBFeatureStore.ts
  src/samples/editing-sample/editing-app/tsx/store/geometry/Envelope.ts
  src/samples/editing-sample/editing-app/tsx/store/geometry/GeometrySerializer.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add window package
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/window/build.config.mjs
  src/experimental-packages/window/i18n/de.yaml
  src/experimental-packages/window/i18n/en.yaml
  src/experimental-packages/window/index.ts
  src/experimental-packages/window/package.json
  src/experimental-packages/window/tsx/Window.tsx
  src/experimental-packages/window/tsx/frame/frame.ts
  src/experimental-packages/window/tsx/frame/useFrame.ts
  src/experimental-packages/window/tsx/frame/useFrameSavers.ts
  src/experimental-packages/window/tsx/frame/useLocalStorageFrame.ts
  src/experimental-packages/window/tsx/titlebar/TitleBar.tsx
  src/experimental-packages/window/tsx/zindex/useZIndex.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add window-sample
  pnpm-lock.yaml
  src/experimental-packages/window/tsx/Window.tsx
  src/experimental-packages/window/tsx/titlebar/TitleBar.tsx
  src/index.html
  src/samples/window-sample/index.html
  src/samples/window-sample/window-app/app.ts
  src/samples/window-sample/window-app/build.config.mjs
  src/samples/window-sample/window-app/i18n/de.yaml
  src/samples/window-sample/window-app/i18n/en.yaml
  src/samples/window-sample/window-app/package.json
  src/samples/window-sample/window-app/services.ts
  src/samples/window-sample/window-app/tsx/MainMapProvider.ts
  src/samples/window-sample/window-app/tsx/MapTool.tsx
  src/samples/window-sample/window-app/tsx/ToolWindow.tsx
  src/samples/window-sample/window-app/tsx/Toolbar.tsx
  src/samples/window-sample/window-app/tsx/WindowApp.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
