Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

fix map navigation test snapshots
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/__snapshots__/InitialExtent.test.tsx.snap
  src/packages/map-navigation/__snapshots__/Zoom.test.tsx.snap
Due: none

migrate editing demo
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add role alert to alert dialogs in spatial bookmarks
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

migrated map-sample; fix mapAnchor pointer-events
  src/packages/map/ui/styles.css
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/map-sample/ol-app/ui/Footer.tsx
  src/samples/map-sample/ol-app/ui/Legend.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/map-sample/ol-app/ui/Measurement.tsx
  src/samples/map-sample/ol-app/ui/Printing.tsx
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Search.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/map-sample/ol-app/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix performance when resizing columns
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/package.json
  src/packages/result-list/result-list.scss
Due: prettier --write --ignore-path .eslintignore, eslint

Fix error in changelog
  src/packages/map/CHANGELOG.md
Due: prettier --write --ignore-path .eslintignore

Document map container children change
  .changeset/breezy-colts-brake.md
Due: prettier --write --ignore-path .eslintignore

Disable selection in table header, configure min size on select column
  src/packages/result-list/DataTable/DataTable.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use Portal to render react-select's menu
  src/packages/search/Search.tsx
  src/packages/search/search.css
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix search CSS
  src/packages/search/search.css
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update Vite (CVE-2025-46565)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Include script for rewriting workspace dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  support/prepare-snapshots.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Fix toc tests
  src/packages/toc/ui/Tools.test.tsx
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Fix selection tests
  src/packages/selection/Selection.test.tsx
  src/packages/selection/Selection.tsx
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/selection/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Fix search tests
  src/packages/search/Search.test.tsx
  src/packages/search/__snapshots__/Search.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Patch @zag/focus-visible
  patches/@zag-js__focus-visible.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix result-list tests
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/result-list/package.json
  src/samples/test-result-list/result-list-app/AppUI.tsx
  src/samples/test-result-list/result-list-app/build.config.mjs
Due: prettier --write --ignore-path .eslintignore, eslint

Fix measurement test
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
Due: none

Fix map-ui-components tests
  src/packages/map-ui-components/ToolButton.test.tsx
  src/packages/map-ui-components/__snapshots__/ToolButton.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Remove act warning when executing map-navigation tests
  src/packages/map-navigation/InitialExtent.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix invalid imports
  src/packages/legend/Legend.test.tsx
  src/packages/map/ui/MapAnchor.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix snapshot
  src/packages/legend/__snapshots__/Legend.test.tsx.snap
Due: none

Add changeset
  .changeset/slimy-singers-film.md
Due: prettier --write --ignore-path .eslintignore

Remove usage of forwardRef()
  src/samples/map-sample/ol-app/ui/MapTools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix coordinate search and coordinate input tests
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/test-utils.ts
  src/packages/map-ui-components/ToolButton.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove autofocus
  src/packages/printing/Printing.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete TODOs
  src/packages/coordinate-search/ProjectionSelect.tsx
  src/packages/result-list/ResultList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

re-add accidentally deleted file
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: none

Simplify expression
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete function
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete sample app
  src/samples/minimal-sample/index.html
  src/samples/minimal-sample/mini-app/AppUI.tsx
  src/samples/minimal-sample/mini-app/app.ts
  src/samples/minimal-sample/mini-app/build.config.mjs
  src/samples/minimal-sample/mini-app/package.json
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

update basemap-switcher README.md
  .changeset/hot-parrots-grab.md
  src/packages/basemap-switcher/README.md
Due: prettier --write --ignore-path .eslintignore

update basemap-switcher README.md
  src/packages/basemap-switcher/README.md
Due: prettier --write --ignore-path .eslintignore

Document breaking change in ToolButton props
  .changeset/short-dingos-dance.md
Due: prettier --write --ignore-path .eslintignore

Update changeset wording
  .changeset/hot-parrots-grab.md
Due: prettier --write --ignore-path .eslintignore

Update wording
  src/packages/basemap-switcher/README.md
Due: prettier --write --ignore-path .eslintignore

update map-sample README.md
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore

Hide background of toc collapse button when expanded
  src/packages/toc/ui/LayerList/LayerItem.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete license configs
  pnpm-lock.yaml
  support/license-config.yaml
  support/licenses/color_rgba_mit
  support/licenses/react_select_mit
Due: none

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
