Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write", "eslint"],
    "*.{md,json,css,scss,html,yaml,yml}": ["prettier --write"]
}

Add non-null assertion in test
  src/packages/search/ui/Search.test.tsx
Due: prettier --write, eslint

Use sync function
  src/packages/search/README.md
  src/samples/test-search/search-app/AppUI.tsx
Due: prettier --write, eslint

Bump dev dependencies due to CVEs (CVE-2026-13149, CVE-2026-59869)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Call onSelect for programmatic selection, too
  .changeset/sour-buckets-find.md
  src/packages/search/README.md
  src/packages/search/api.ts
  src/packages/search/index.ts
  src/packages/search/ui/Search.test.tsx
  src/packages/search/ui/Search.tsx
  src/packages/search/ui/SearchApiImpl.ts
  src/packages/search/ui/SearchInput.tsx
  src/packages/search/ui/useSearchState.ts
  src/samples/test-search/search-app/AppUI.tsx
  src/samples/test-search/search-app/i18n/de.yaml
  src/samples/test-search/search-app/i18n/en.yaml
Due: prettier --write, eslint

Update changeset
  .changeset/slimy-oranges-stare.md
Due: prettier --write

feature: search and select (#646)
  .changeset/slimy-oranges-stare.md
  .changeset/sour-buckets-find.md
  src/packages/search/README.md
  src/packages/search/api.ts
  src/packages/search/index.ts
  src/packages/search/ui/Search.test.tsx
  src/packages/search/ui/Search.tsx
  src/packages/search/ui/SearchApiImpl.ts
  src/packages/search/ui/SearchInput.tsx
  src/packages/search/ui/useSearchState.ts
  src/samples/test-search/search-app/AppUI.tsx
  src/samples/test-search/search-app/i18n/de.yaml
  src/samples/test-search/search-app/i18n/en.yaml
Due: prettier --write, eslint

Bump immutable, ignore CVE is old brace-expansion version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bump dompurify (GHSA-c2j3-45gr-mqc4)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

move sublayer aggregated error to toc
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/WMSLayer.test.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/hooks.ts
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

adjust comments
  src/packages/map/layers/WMSLayer.test.ts
  src/packages/toc/ui/LayerList/hooks.ts
Due: prettier --write, eslint

Update Chakra to 3.36.1, and update snapshots of openlayers base packages and build tools
  .changeset/angry-forks-argue.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/legend/__snapshots__/Legend.test.tsx.snap
Due: prettier --write

Cleanup
  src/packages/selection/SelectionController.test.ts
  src/packages/selection/api.ts
  src/packages/selection/index.ts
  src/packages/selection/ui/Selection.test.tsx
  src/packages/selection/ui/Selection.tsx
  src/packages/selection/ui/SelectionSourceItem.tsx
  src/packages/selection/ui/SelectionTooltipContent.tsx
  src/packages/selection/ui/useSelectionSourceId.ts
  src/packages/selection/ui/useSelectionViewModel.ts
  src/packages/selection/view-model/SelectionViewModel.ts
  src/packages/selection/view-model/index.ts
Due: prettier --write, eslint

draft topmost option in layer config
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/shared/LayerConfig.ts
  src/packages/map/model/LayerCollection.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

fix map config
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write, eslint

More cleanup
  src/packages/selection/ui/Selection.tsx
  src/packages/selection/ui/SelectionSourceItem.tsx
  src/packages/selection/ui/useSelectionViewModel.ts
  src/packages/selection/ui/useSourceStatus.ts
  src/packages/selection/view-model/SelectionViewModel.ts
Due: prettier --write, eslint

Update tests
  .changeset/real-groups-vanish.md
  selection-refactor-review.md
  src/packages/selection/DragController.test.ts
  src/packages/selection/SelectionController.test.ts
  src/packages/selection/api.ts
  src/packages/selection/build.config.mjs
  src/packages/selection/services.ts
  src/packages/selection/sources/VectorSelectionSource.ts
  src/packages/selection/test-utils.ts
  src/packages/selection/ui/Selection.test.tsx
  src/packages/selection/ui/__snapshots__/Selection.test.tsx.snap
  src/packages/selection/ui/selection.css
  src/packages/selection/ui/useSelectionSourceId.test.ts
  src/packages/selection/view-model/SelectionViewModel.test.ts
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
Due: prettier --write, eslint

Add tests for the search source
  .changeset/little-years-bet.md
  selection-refactor-review.md
  src/packages/selection/sources/VectorSelectionSource.test.ts
  src/packages/selection/sources/VectorSelectionSource.ts
Due: prettier --write, eslint

use new language feature
  src/packages/printing/Printing.tsx
Due: prettier --write, eslint

Add changeset for id property
  .changeset/tiny-buses-tease.md
Due: prettier --write

Add changeset for map model property
  .changeset/eighty-peas-act.md
Due: prettier --write

remove different code paths by always setting values
  src/packages/map/model/MapModel.ts
  src/packages/printing/PrintingServiceImpl.ts
Due: prettier --write, eslint

throw error instead of quietly returning
  src/packages/printing/PrintingController.ts
Due: prettier --write, eslint

Rename view-model -> model
  src/packages/selection/model/ExtentSelection.ts
  src/packages/selection/model/SelectionViewModel.test.ts
  src/packages/selection/model/SelectionViewModel.ts
  src/packages/selection/model/index.ts
  src/packages/selection/ui/Selection.tsx
  src/packages/selection/ui/useSelectionViewModel.ts
  src/packages/selection/ui/useSourceStatus.ts
Due: prettier --write, eslint

improve OverlayControls.tsx demo
  src/samples/test-overlay/overlay-app/OverlayControls.tsx
Due: prettier --write, eslint

use a trails layer instead of raw ol layer
  src/packages/printing/Printing.tsx
  src/packages/printing/PrintingController.ts
Due: prettier --write, eslint

Don't run preview pr workflow for non-mergeable PRs
  .github/workflows/preview-pr.yml
Due: prettier --write

bump oxlint and oxfmt
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Integrate review feedback
  .changeset/eighty-peas-act.md
  .changeset/hip-donkeys-wonder.md
  src/packages/selection/README.md
  src/packages/selection/api.ts
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
  src/packages/selection/model/SelectionViewModel.test.ts
  src/packages/selection/model/SelectionViewModel.ts
  src/packages/selection/ui/Selection.tsx
  src/packages/selection/ui/useSelectionSourceId.ts
Due: prettier --write, eslint

missing dependency
  src/packages/printing/build.config.mjs
Due: prettier --write, eslint

migrate to ts config for oxfmt
  .oxfmtrc.json
  oxfmt.config.ts
  src/packages/feature-editing/README.md
  src/packages/map/README.md
  tsconfig.node.json
Due: prettier --write, eslint

update docu
  docs/guidelines/Development.md
Due: prettier --write

update changeset
  .changeset/ready-coats-enjoy.md
Due: prettier --write

add fmt ignore for support/licenses
  oxlint.config.ts
Due: prettier --write, eslint

Revert "add fmt ignore for support/licenses"
  oxlint.config.ts
Due: prettier --write, eslint

Ignore empty file lists
  .lintstagedrc
Due: none

Configure oxlint to report unused disable directives
  oxlint.config.ts
  src/packages/map/model/LayerCollection.test.ts
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/spatial-bookmarks/SpatialBookmarks.tsx
  src/samples/test-search/search-app/AppUI.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write, eslint

remove renderevent from class
  src/packages/printing/PrintingController.ts
Due: prettier --write, eslint
