Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Revert test changes
  src/index.html
Due: prettier --write --ignore-path .eslintignore

Cleanup github actions workflows (#351)
  .github/actions/install/action.yml
  .github/workflows/audit-dependencies.yml
  .github/workflows/preview-pr.yml
  .github/workflows/test-and-build.yml
  .github/workflows/version.yml
Due: none

move attribution according to map views padding; fix viewPadding in ol-app
  .changeset/tidy-eagles-end.md
  src/packages/map/README.md
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/styles.css
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Code simplification
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

prettier
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add missing export of CoordsSelectEvent
  src/packages/coordinate-search/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

make event listeners optional and describe them in README
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Checkout before audit
  .github/workflows/audit-dependencies.yml
Due: none

Update index.html
  src/index.html
Due: prettier --write --ignore-path .eslintignore

Implement preview for PRs from other repos
  .github/workflows/preview-pr.yml
Due: none

Configure write permissions
  .github/workflows/preview-pr.yml
Due: none

Deploy to a different repository
  .github/workflows/preview-pr.yml
Due: none

Deploy to main branch
  .github/workflows/preview-pr.yml
Due: none

Remove git config (it has no effect)
  .github/workflows/preview-pr.yml
Due: none

#70 copyable coordinateSearch
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 updatet test of clear button
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Sketch viewmodel approach
  src/packages/map-navigation/HistoryViewModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#70 only available projections and tooltip
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 changed heights
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

issues-356 -- adjust Zoom component
  src/packages/map-navigation/README.md
  src/packages/map-navigation/Zoom.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

issues-356 -- changeset
  .changeset/eleven-news-move.md
Due: prettier --write --ignore-path .eslintignore

issues-356 -- keep button enabled + remove prop and set as default
  src/packages/map-navigation/README.md
  src/packages/map-navigation/Zoom.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update changeset
  .changeset/eleven-news-move.md
Due: prettier --write --ignore-path .eslintignore

[Zoom] Respect zoom limits (#356, #357)
  .changeset/eleven-news-move.md
  src/packages/map-navigation/Zoom.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Added degree option to coordinate viewer
  src/packages/coordinate-viewer/CoordinateViewer.test.tsx
  src/packages/coordinate-viewer/CoordinateViewer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Added changesets
  .changeset/slow-bikes-prove.md
Due: prettier --write --ignore-path .eslintignore

Add gitattributes for normalized line endings
  .gitattributes
Due: none

Formatting: run prettier
  src/packages/basemap-switcher/i18n/de.yaml
  src/packages/basemap-switcher/i18n/en.yaml
  src/packages/map-test-utils/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Change Request: public prop changed
  src/packages/coordinate-viewer/CoordinateViewer.test.tsx
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Update types, docs
  .changeset/slow-bikes-prove.md
  src/packages/coordinate-viewer/CoordinateViewer.test.tsx
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Feature/coordinate viewer degree extension (#358)
  .changeset/slow-bikes-prove.md
  src/packages/coordinate-viewer/CoordinateViewer.test.tsx
  src/packages/coordinate-viewer/CoordinateViewer.tsx
  src/packages/coordinate-viewer/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Reimplement computation of map anchor positioning using new css props
  .changeset/shiny-masks-add.md
  src/packages/map/ui/CssProps.ts
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/MapContext.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Set correct license hint
  src/packages/scale-bar/README.md
Due: prettier --write --ignore-path .eslintignore

Set correct license hint
  src/packages/scale-setter/README.md
Due: prettier --write --ignore-path .eslintignore

issues-361 -- alternative image BasemapSwitcher
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/README.md
  src/samples/test-basemap-switcher/basemap-switcher-app/AppUI.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/assets/map_699730.png
  src/samples/test-basemap-switcher/basemap-switcher-app/assets/map_717498.png
Due: prettier --write --ignore-path .eslintignore, eslint

issues-361 -- add changeset
  .changeset/witty-lemons-look.md
Due: prettier --write --ignore-path .eslintignore

Integrate review feedback
  src/packages/map/ui/DefaultMapProvider.tsx
  src/packages/map/ui/useMapModel.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix typo
  src/packages/map/ui/DefaultMapProvider.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
