Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

Update core packages and use normal dependencies instead of peerDependencies.
  .changeset/chilled-wasps-relate.md
  .changeset/silly-owls-appear.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/editing/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map-test-utils/package.json
  src/packages/map-ui-components/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/ogc-features/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/package.json
Due: prettier --write --ignore-path .eslintignore

Update trails dependencies, use `dependencies` instead of `peerDependencies` (#366)
  .changeset/chilled-wasps-relate.md
  .changeset/silly-owls-appear.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/editing/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map-test-utils/package.json
  src/packages/map-ui-components/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/ogc-features/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/package.json
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore

Update docs
  src/packages/map-navigation/README.md
Due: prettier --write --ignore-path .eslintignore

Setup view model on demand, hide it from public interface for now.
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/index.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use a different icon
  .eslintrc
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Remove unused imports
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

silence bot
  .changeset/nasty-seahorses-sneeze.md
Due: prettier --write --ignore-path .eslintignore

Introduce a static size limit (200 entries)
  src/packages/map-navigation/ViewHistoryModel.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor public API of history navigation component (#367)
  .changeset/nasty-seahorses-sneeze.md
  .eslintrc
  src/packages/map-navigation/History.test.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/README.md
  src/packages/map-navigation/ViewHistoryModel.ts
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/index.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix syntax in README
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

typos
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove redundant code
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

refactor interfaces
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update dependencies
  .changeset/ten-berries-count.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

remove unused import
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

refactoring + better function name
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

prettier
  src/packages/coordinate-search/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix typo
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

fix typo
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

fix validation
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update typescript-eslint to get rid of deprecation warnings
  .eslintrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/printing/PrintingController.ts
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/search/Search.tsx
  src/packages/search/testSources.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Document view history limitation
  src/packages/map-navigation/README.md
Due: prettier --write --ignore-path .eslintignore

fix typo
  src/samples/showcase/showcase-app/i18n/de.yaml
Due: none

split into CoordinateSearch and CoordinateInput
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/index.ts
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

prettier
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

zoom to position
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

remove appstate
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

simplify code
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 correction prettier/eslint
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 correction minus in regex
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

lint code
  src/packages/map/model/SublayersCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix dependencies
  src/packages/map/package.json
Due: prettier --write --ignore-path .eslintignore

updated pnpm lock
  pnpm-lock.yaml
Due: none

fix dependencies
  pnpm-lock.yaml
  src/packages/map/package.json
  src/packages/selection/package.json
Due: prettier --write --ignore-path .eslintignore

cleanup
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

issues-361 -- improvements for image-basemap-switcher - own bundle, intern handling of baselayer, config of thumbnails
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/README.md
  src/packages/imageBasemap-switcher/CHANGELOG.md
  src/packages/imageBasemap-switcher/ImageBasemapSwitcher.tsx
  src/packages/imageBasemap-switcher/LICENSE
  src/packages/imageBasemap-switcher/README.md
  src/packages/imageBasemap-switcher/assets/cancel_4968337.png
  src/packages/imageBasemap-switcher/assets/map_699730.png
  src/packages/imageBasemap-switcher/build.config.mjs
  src/packages/imageBasemap-switcher/i18n/de.yaml
  src/packages/imageBasemap-switcher/i18n/en.yaml
  src/packages/imageBasemap-switcher/index.ts
  src/packages/imageBasemap-switcher/package.json
  src/packages/imageBasemap-switcher/typedoc.json
  src/samples/test-basemap-switcher/basemap-switcher-app/AppUI.tsx
  src/samples/test-basemap-switcher/basemap-switcher-app/MapConfigProviderImpl.ts
  src/samples/test-basemap-switcher/basemap-switcher-app/app.css
  src/samples/test-basemap-switcher/basemap-switcher-app/i18n/en.yaml
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

issues-361 -- improvements for image-basemap-switcher - own bundle, intern handling of baselayer, config of thumbnails
  src/packages/imageBasemap-switcher/assets/map_717498.png
Due: none

Refactor
  src/packages/coordinate-search/CoordinateInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Cleanup
  pnpm-lock.yaml
  src/packages/basemap-switcher/BasemapSwitcher.test.tsx
  src/packages/basemap-switcher/package.json
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/toc/LayerList.test.tsx
  src/packages/toc/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

do not use a signal for layer id
  src/packages/map/model/AbstractLayerBase.ts
Due: prettier --write --ignore-path .eslintignore, eslint
