Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

introduce toc events
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Also use new vite version in workspace file (lockfile is not enough)
  pnpm-workspace.yaml
Due: none

Simplify anchor positioning
  pnpm-lock.yaml
  src/index.html
  src/packages/map/ui/CssProps.ts
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
  src/packages/map/ui/styles.css
  src/samples/map-anchors/index.html
  src/samples/map-anchors/map-anchors-app/AppUI.tsx
  src/samples/map-anchors/map-anchors-app/MapConfigProviderImpl.ts
  src/samples/map-anchors/map-anchors-app/app.css
  src/samples/map-anchors/map-anchors-app/app.ts
  src/samples/map-anchors/map-anchors-app/build.config.mjs
  src/samples/map-anchors/map-anchors-app/i18n/en.yaml
  src/samples/map-anchors/map-anchors-app/package.json
  src/samples/map-anchors/map-anchors-app/services.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

migrate basemapSwitcher to chakra 3 (WIP)
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update to core dev version
  package.json
  patches/@ark-ui__react.patch
  patches/@chakra-ui__hooks.patch
  patches/@zag-js__interact-outside.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Set maxW/maxH; remove unhelpful tests
  .changeset/slimy-coats-search.md
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
  src/packages/map/ui/styles.css
  src/samples/map-anchors/map-anchors-app/AppUI.tsx
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove overrides again
  package.json
  pnpm-lock.yaml
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore

Configure patches
  package.json
  patches/@zag-js__interact-outside.patch
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Update docs of *Gap
  src/packages/map/ui/MapAnchor.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

migrate basemapSwitcher to chakra 3 (WIP)
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix tooltips
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Ignore keyboard events from map anchors and other map children
  src/packages/map/ui/MapContainer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove unused import
  src/packages/map/ui/MapContainer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Review PR
  .changeset/chilled-laws-swim.md
  src/packages/map/api/MapModel.ts
  src/packages/map/api/shared.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

migrated printing-api-app
  src/samples/test-printing-api/printing-api-app/AppUI.tsx
  src/samples/test-printing-api/printing-api-app/app.ts
Due: prettier --write --ignore-path .eslintignore, eslint

delete menu fix app
  src/samples/test-menu-fix/index.html
  src/samples/test-menu-fix/menu-fix-app/AppUI.tsx
  src/samples/test-menu-fix/menu-fix-app/app.ts
  src/samples/test-menu-fix/menu-fix-app/build.config.mjs
  src/samples/test-menu-fix/menu-fix-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

migrated highlight-and-zoom-app
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

delete menu fix app
  src/index.html
Due: prettier --write --ignore-path .eslintignore

Insert layer at a specific position (#411, #416)
  .changeset/chilled-laws-swim.md
  src/packages/map/api/MapModel.ts
  src/packages/map/api/shared.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

delete menu fix app
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

migrate experimental-sidebar app
  pnpm-lock.yaml
  src/experimental-packages/layout-sidebar/Sidebar.tsx
  src/experimental-packages/layout-sidebar/package.json
  src/experimental-packages/layout-sidebar/styles.scss
  src/samples/experimental-sidebar/sidebar-app/AppUI.tsx
  src/samples/experimental-sidebar/sidebar-app/app.ts
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/app.ts
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/app.ts
  src/samples/test-result-list/result-list-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

delete theme package
  README.md
  pnpm-lock.yaml
  src/packages/theme/CHANGELOG.md
  src/packages/theme/LICENSE
  src/packages/theme/README.md
  src/packages/theme/build.config.mjs
  src/packages/theme/index.ts
  src/packages/theme/package.json
  src/packages/theme/theme.ts
  src/packages/theme/typedoc.json
Due: prettier --write --ignore-path .eslintignore, eslint

Resolve CVE (CVE-2025-32395)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add more positioning options to map anchors (#408)
  .changeset/slimy-coats-search.md
  README.md
  pnpm-lock.yaml
  src/index.html
  src/packages/map/ui/CssProps.ts
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/computeMapAnchorStyles.test.ts
  src/packages/map/ui/computeMapAnchorStyles.ts
  src/packages/map/ui/styles.css
  src/samples/map-anchors/index.html
  src/samples/map-anchors/map-anchors-app/AppUI.tsx
  src/samples/map-anchors/map-anchors-app/MapConfigProviderImpl.ts
  src/samples/map-anchors/map-anchors-app/app.css
  src/samples/map-anchors/map-anchors-app/app.ts
  src/samples/map-anchors/map-anchors-app/build.config.mjs
  src/samples/map-anchors/map-anchors-app/i18n/en.yaml
  src/samples/map-anchors/map-anchors-app/package.json
  src/samples/map-anchors/map-anchors-app/services.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  vite.config.ts
Due: prettier --write --ignore-path .eslintignore, eslint

update toc api and toc model
  src/packages/toc/index.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/Toc.tsx
  src/samples/map-anchors/map-anchors-app/i18n/en.yaml
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

consider API disposal
  src/packages/toc/model/TocModel.ts
  src/packages/toc/ui/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

potentially fix api disposal
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

prevent create new api ref
  pnpm-lock.yaml
  src/packages/toc/index.ts
  src/packages/toc/model/TocModel.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

adjust sample
  src/packages/toc/index.ts
  src/packages/toc/ui/Toc.tsx
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use new formatRichMessage API instead of raw HTML.
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/OverviewMapDemo.tsx
  src/samples/showcase/showcase-app/demos/SearchAndHighlightDemo.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use latest chakra v3 dev snapshot of core packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

use chakra snipptes from core packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/experimental-packages/layout-sidebar/Sidebar.tsx
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/basemap-switcher/package.json
  src/packages/chakra-snippets/build.config.mjs
  src/packages/chakra-snippets/index.ts
  src/packages/chakra-snippets/package.json
  src/packages/chakra-snippets/snippets/checkbox.tsx
  src/packages/chakra-snippets/snippets/tooltip.tsx
  src/packages/map-ui-components/ToolButton.tsx
  src/packages/map-ui-components/package.json
  src/packages/toc/package.json
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/AppUI.tsx
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

fix tool and layer item menu positioning in toc
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update snapshots, ol and react
  .changeset/lovely-countries-grow.md
  .changeset/silent-clocks-collect.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/map-test-utils/index.ts
  src/packages/map/model/createMapModel.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/selection/DragController.ts
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
  support/duplicate-packages.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

adjust toc layout
  src/experimental-packages/layout-sidebar/package.json
  src/experimental-packages/layout-sidebar/styles.scss
  src/packages/basemap-switcher/package.json
  src/packages/map-ui-components/ToolButton.tsx
  src/packages/map-ui-components/package.json
  src/packages/toc/package.json
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Tools.tsx
  src/samples/minimal-sample/mini-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

use latest dev snapshot of core packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update pnpm lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Migrate some demos in the showcase app
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/geolocation/Geolocation.tsx
  src/packages/geolocation/GeolocationController.ts
  src/packages/legend/Legend.tsx
  src/packages/map-navigation/History.tsx
  src/packages/map-navigation/InitialExtent.tsx
  src/packages/map-navigation/Zoom.tsx
  src/packages/map-ui-components/ToolButton.tsx
  src/packages/printing/Printing.tsx
  src/packages/scale-bar/ScaleBar.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/ScaleViewer.tsx
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/MigratedDemos.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/ui/AppUI.tsx
  src/samples/showcase/showcase-app/ui/Header/DemoSelection.tsx
  src/samples/showcase/showcase-app/ui/Header/Header.tsx
  src/samples/showcase/showcase-app/ui/Header/HeaderFormControl.tsx
  src/samples/showcase/showcase-app/ui/Header/LocaleSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

adjust layer item menu in toc
  src/packages/toc/ui/LayerList/LayerItemMenu.tsx
  src/packages/toc/ui/Tools.tsx
  src/samples/map-anchors/map-anchors-app/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
