Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

add missing changeset
  .changeset/orange-fireants-deliver.md
Due: prettier --write --ignore-path .eslintignore

#70 split in different functions and refactoring
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/index.ts
  src/packages/coordinate-search/package.json
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

draft implementation of group layer
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#70 tests WIP
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/i18n/de.yaml
  src/packages/coordinate-search/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

#70 tests placeholder WIP
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Feedback
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/SimpleLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add GroupLayerCollection
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/GroupLayerCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/toc/LayerList.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

handle layer (un)indexing
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/GroupLayerCollectionImpl.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

lint code
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/GroupLayerCollectionImpl.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/toc/LayerList.tsx
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add documentation
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests for group layers
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

align behaviour for grouplayers with sublayers on 'hide all layers'
  src/packages/toc/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add changeset
  .changeset/selfish-squids-travel.md
Due: prettier --write --ignore-path .eslintignore

edit example in changeset
  .changeset/selfish-squids-travel.md
Due: prettier --write --ignore-path .eslintignore

fix typo
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

handle child layers with sublayers (e.g WMSLayer)
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/toc/Tools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

ensure child layers are destroyed if parent group layer gets destroyed
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/GroupLayerCollectionImpl.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

use group layers in example
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

lint code
  src/packages/map/model/LayerCollectionImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update happy-dom (audit)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/measurement/__snapshots__/Measurement.test.tsx.snap
  src/packages/printing/__snapshots__/Printing.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
Due: none

Bump happy-dom again
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix timing problem in test
  src/packages/legend/Legend.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix typo
  src/packages/toc/LayerList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 tests for coordinate input WIP
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateInput.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Use rerender to update component props
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use a different approach to test tooltip changes
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Remove obsolete functions
  src/packages/coordinate-search/CoordinateInput.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add options to make groups in toc collapsible
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
  src/packages/toc/Tools.tsx
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
  src/samples/test-toc/toc-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add missing dependency
  src/packages/toc/package.json
Due: prettier --write --ignore-path .eslintignore

update pnpm lock file
  pnpm-lock.yaml
Due: none

minor changes
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update snapshots
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: none

add changeset
  .changeset/wicked-doors-flash.md
Due: prettier --write --ignore-path .eslintignore

minor styling adjustments
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Split changesets
  .changeset/selfish-squids-travel.md
  .changeset/twelve-moles-scream.md
Due: prettier --write --ignore-path .eslintignore

Fix exports
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/index.ts
  src/samples/test-toc/toc-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

#70 tests
  src/packages/coordinate-search/CoordinateInput.test.tsx
  src/packages/coordinate-search/CoordinateSearch.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#70 updated readme
  src/packages/coordinate-search/README.md
Due: prettier --write --ignore-path .eslintignore

Review implementation
  .changeset/happy-tables-walk.md
  src/packages/map/api/layers/GroupLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/GroupLayerCollectionImpl.ts
  src/packages/map/model/LayerCollectionImpl.test.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/GroupLayerImpl.test.ts
  src/packages/map/model/layers/GroupLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.test.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.test.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint
