Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json}": ["prettier --write --ignore-path .eslintignore"]
}

fix typo
  src/packages/ogc-features/README.md
  src/samples/showcase/showcase-app/styles.scss
Due: prettier --write --ignore-path .eslintignore

OGC-Features Vector Source: customize strategy and the URL used to load features (#328)
  .npmrc
  src/packages/ogc-features/OgcFeatureSearchSource.ts
  src/packages/ogc-features/README.md
  src/packages/ogc-features/api.ts
  src/packages/ogc-features/createVectorSource.ts
  src/packages/ogc-features/requestUtils.ts
  src/packages/selection/api.ts
  src/samples/map-sample/ol-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/styles.scss
Due: prettier --write --ignore-path .eslintignore, eslint

Add misssing changeset
  .changeset/slow-tools-cheer.md
Due: prettier --write --ignore-path .eslintignore

Run prettier on style files
  .lintstagedrc
Due: none

Only reformat changelog during release
  package.json
Due: prettier --write --ignore-path .eslintignore

Create DevNotes.md
  docs/DevNotes.md
Due: prettier --write --ignore-path .eslintignore

Simplify sample app
  pnpm-lock.yaml
  src/index.html
  src/samples/map-sample/index.html
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/MapConfigProviderImpl.ts
  src/samples/map-sample/ol-app/app.css
  src/samples/map-sample/ol-app/app.ts
  src/samples/map-sample/ol-app/build.config.mjs
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/map/CustomLegendItems.tsx
  src/samples/map-sample/ol-app/map/MapConfigProviderImpl.ts
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/services.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/Bookmarks.tsx
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/map-sample/ol-app/ui/Footer.tsx
  src/samples/map-sample/ol-app/ui/Legend.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/map-sample/ol-app/ui/Measurement.tsx
  src/samples/map-sample/ol-app/ui/OverviewMap.tsx
  src/samples/map-sample/ol-app/ui/Printing.tsx
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Search.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/map-sample/ol-app/ui/Toc.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add some padding to the tools container to fix the keyboard focus outline
  src/samples/showcase/showcase-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update build tools
  .changeset/strong-ghosts-tap.md
  .changeset/young-turkeys-pay.md
  package.json
  pnpm-lock.yaml
  src/packages/map-test-utils/index.ts
  src/packages/map/build.config.mjs
  src/packages/map/internalTestSupport.ts
Due: prettier --write --ignore-path .eslintignore, eslint

issues-320 -- fix BasemapSwitcher Select key issue
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

issues-320 -- change to useEvent hook
  src/packages/basemap-switcher/BasemapSwitcher.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

issues-320 -- add Enter support for Selection
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

issues-320 -- changeset
  .changeset/nasty-hats-laugh.md
Due: prettier --write --ignore-path .eslintignore

issues-320 -- update changelog
  .changeset/nasty-hats-laugh.md
Due: prettier --write --ignore-path .eslintignore

issues-320 -- remove React import
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Open select menu when pressing enter (#320, #331)
  .changeset/nasty-hats-laugh.md
  src/packages/basemap-switcher/BasemapSwitcher.tsx
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update workflows
  .github/workflows/audit-dependencies.yml
  .github/workflows/test-and-build.yml
  .github/workflows/version.yml
Due: none

Set Scale via Select menu
  pnpm-lock.yaml
  src/packages/scale-setter/README.md
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-setter/build.config.mjs
  src/packages/scale-setter/index.ts
  src/packages/scale-setter/package.json
  src/packages/scale-setter/scale-setter.scss
  src/packages/scale-setter/typedoc.json
Due: prettier --write --ignore-path .eslintignore, eslint

Update dependencies of scale setter
  pnpm-lock.yaml
Due: none

added License file
  src/packages/scale-setter/LICENSE
Due: none

adapt license report script to schema changes in pnpm-licenses
  support/create-license-report.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Change dom hierarchy of map anchors
  .changeset/light-radios-drive.md
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/MapContext.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Simplify wording
  .changeset/light-radios-drive.md
Due: prettier --write --ignore-path .eslintignore

add scale setter to demo app
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Fix audit
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

add inital state and change handler to measurement component
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Re-enable license check in github actions, clean up a bit.
  .github/workflows/test-and-build.yml
  support/create-license-report.ts
  support/license-config.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Use tsx instead of ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

adapt license report script to schema changes in pnpm-licenses (#335)
  .github/workflows/test-and-build.yml
  package.json
  pnpm-lock.yaml
  support/create-license-report.ts
  support/license-config.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

Set tooltip role, use a span for text content
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/Tooltip.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/selection/DragController.ts
  src/packages/selection/__snapshots__/DragController.test.ts.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing changeset
  .changeset/tiny-dodos-think.md
Due: prettier --write --ignore-path .eslintignore

Test
  src/packages/selection/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Test changeset
  .changeset/yellow-candles-sit.md
Due: prettier --write --ignore-path .eslintignore

Add empty changeset
  .changeset/silly-eyes-add.md
Due: prettier --write --ignore-path .eslintignore

remove stopEvents property; simplify waiting for anchor host
  .changeset/light-radios-drive.md
  docs/DevNotes.md
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Make it possible to stop selection when above the map anchor (#312) (#333)
  .changeset/light-radios-drive.md
  src/packages/map/ui/MapAnchor.test.tsx
  src/packages/map/ui/MapAnchor.tsx
  src/packages/map/ui/MapContainer.tsx
  src/packages/map/ui/MapContext.ts
Due: prettier --write --ignore-path .eslintignore, eslint
