Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

Cleanup public interface, refactor a bit.
  .changeset/stupid-toes-trade.md
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/README.md
  src/packages/measurement/index.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Check event order in test
  src/packages/measurement/MeasurementController.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor measurement bookkeeping
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Add missing package
  pnpm-lock.yaml
  src/packages/measurement/package.json
Due: prettier --write --ignore-path .eslintignore

Document that more event types may be added
  src/packages/measurement/Measurement.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update README.md
  src/packages/measurement/README.md
Due: prettier --write --ignore-path .eslintignore

Fix usage of internal type
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

[Measurement] Support for predefined measurements and event handlers (#342)
  .changeset/stupid-toes-trade.md
  pnpm-lock.yaml
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/measurement/README.md
  src/packages/measurement/index.ts
  src/packages/measurement/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Update micromatch
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Update trails packages
  .changeset/fuzzy-seas-clean.md
  package.json
  pnpm-lock.yaml
  src/experimental-packages/layout-sidebar/package.json
  src/packages/basemap-switcher/package.json
  src/packages/coordinate-viewer/package.json
  src/packages/editing/package.json
  src/packages/geolocation/package.json
  src/packages/legend/package.json
  src/packages/map-navigation/package.json
  src/packages/map-test-utils/package.json
  src/packages/map-ui-components/package.json
  src/packages/map/package.json
  src/packages/measurement/package.json
  src/packages/ogc-features/package.json
  src/packages/overview-map/package.json
  src/packages/printing/package.json
  src/packages/result-list/package.json
  src/packages/scale-bar/package.json
  src/packages/scale-setter/package.json
  src/packages/scale-viewer/package.json
  src/packages/search/package.json
  src/packages/selection/package.json
  src/packages/spatial-bookmarks/package.json
  src/packages/theme/package.json
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
  src/packages/toc/package.json
  src/samples/experimental-sidebar/sidebar-app/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/ogc-api-sample/ogc-app/package.json
  src/samples/showcase/showcase-app/package.json
  src/samples/test-basemap-switcher/basemap-switcher-app/package.json
  src/samples/test-highlight-and-zoom/highlight-and-zoom-app/package.json
  src/samples/test-menu-fix/menu-fix-app/package.json
  src/samples/test-printing-api/printing-api-app/package.json
  src/samples/test-result-list/result-list-app/package.json
  src/samples/test-toc/toc-app/package.json
Due: prettier --write --ignore-path .eslintignore

Fix import of internal module
  src/packages/measurement/README.md
Due: prettier --write --ignore-path .eslintignore

Remove empty code block
  .changeset/little-kiwis-work.md
Due: prettier --write --ignore-path .eslintignore

wip
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/layers/SimpleLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix typo
  src/packages/map/api/layers/base.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Create preview PR workflow
  .github/workflows/preview-pr.yml
Due: none

Test PR preview
  src/index.html
Due: prettier --write --ignore-path .eslintignore

test
  src/index.html
Due: prettier --write --ignore-path .eslintignore

No need to wait if pr is being closed
  .github/workflows/preview-pr.yml
Due: none

Create a composite action for dependency installation
  .github/actions/install/action.yml
  .github/workflows/audit-dependencies.yml
  .github/workflows/test-and-build.yml
  .github/workflows/version.yml
Due: none

Fix syntax error
  .github/actions/install/action.yml
Due: none

Add missing shell property
  .github/actions/install/action.yml
Due: none

#70 added tests
  src/packages/coordinate-search/CoordinateSearch.test.tsx
  src/packages/coordinate-search/CoordinateSearch.tsx
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateViewer.test.tsx.snap
  src/samples/map-sample/ol-app/ui/CoordinateSearch.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Split workflow into parallel jobs
  .github/workflows/preview-pr.yml
  .github/workflows/test-and-build.yml
Due: none

Add missing samples
  .github/workflows/test-and-build.yml
Due: none

#70 added peerDependencies
  pnpm-lock.yaml
  src/packages/coordinate-search/package.json
Due: prettier --write --ignore-path .eslintignore

#70 updatet peerDependencies
  pnpm-lock.yaml
  src/packages/coordinate-search/package.json
Due: prettier --write --ignore-path .eslintignore

only deploy main site when tests were successful
  .github/workflows/test-and-build.yml
Due: none

Sleep a bit before downloading the artifact
  .github/workflows/preview-pr.yml
Due: none

introduce type attributes and union types for layers
  .changeset/eleven-peas-clean.md
  .changeset/strong-guests-tickle.md
  docs/concepts/UI.md
  docs/guidelines/Development.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/selection/selectionSources.ts
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Find latest workflow run
  .github/workflows/preview-pr.yml
Due: none

add token
  .github/workflows/preview-pr.yml
Due: none

Use latest workflow for artifact download
  .github/workflows/preview-pr.yml
  src/index.html
Due: prettier --write --ignore-path .eslintignore

Fix env variable
  .github/workflows/preview-pr.yml
Due: none

minor cleanup
  .changeset/eleven-peas-clean.md
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayerBase.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

[MapModel] Introduce type attribute and "union" types for layers (#305, #352)
  .changeset/eleven-peas-clean.md
  .changeset/strong-guests-tickle.md
  docs/concepts/UI.md
  docs/guidelines/Development.md
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
  src/packages/map/api/MapModel.ts
  src/packages/map/api/layers/SimpleLayer.ts
  src/packages/map/api/layers/WMSLayer.ts
  src/packages/map/api/layers/WMTSLayer.ts
  src/packages/map/api/layers/base.ts
  src/packages/map/model/AbstractLayer.test.ts
  src/packages/map/model/AbstractLayer.ts
  src/packages/map/model/AbstractLayerBase.test.ts
  src/packages/map/model/AbstractLayerBase.ts
  src/packages/map/model/LayerCollectionImpl.ts
  src/packages/map/model/SublayersCollectionImpl.ts
  src/packages/map/model/layers/SimpleLayerImpl.ts
  src/packages/map/model/layers/WMSLayerImpl.ts
  src/packages/map/model/layers/WMTSLayerImpl.ts
  src/packages/result-list/DataTable/createColumns.tsx
  src/packages/selection/selectionSources.ts
  src/packages/toc/LayerList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Download artifact
  .github/workflows/preview-pr.yml
Due: none

Print files
  .github/workflows/preview-pr.yml
Due: none

Use a subdir
  .github/workflows/preview-pr.yml
Due: none

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json,css,scss,html})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
