Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

highlight in resultcenter
  src/packages/result-list/DataTable/DataTable.tsx
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

deactivate double highlighting with Selection
  src/packages/result-list/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

README.md
  .changeset/tough-toes-perform.md
  src/packages/result-list/README.md
Due: prettier --write --ignore-path .eslintignore

added changeset; updated Readme
  .changeset/healthy-windows-repeat.md
  src/packages/editing/README.md
  src/packages/editing/SaveFeaturesHandler.test.ts
  src/packages/editing/SaveFeaturesHandler.ts
Due: prettier --write --ignore-path .eslintignore, eslint

changeset
  .changeset/gold-donkeys-itch.md
  .changeset/loud-numbers-worry.md
  .changeset/odd-pumas-scream.md
Due: prettier --write --ignore-path .eslintignore

zoom to features, adjust result-list-test
  src/packages/map/api/MapModel.ts
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/samples/test-result-list/result-list-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Review: adjust wording; added todos
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/README.md
  src/packages/editing/api.ts
  src/packages/editing/style-utils.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix todos
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/style-utils.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update default editing style
  src/packages/editing/build.config.mjs
  src/samples/map-sample/ol-app/app.ts
Due: prettier --write --ignore-path .eslintignore, eslint

no need to check enableZoom value
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

review fix
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Show a highlight for all listed features in the map (#14, #295)
  .changeset/odd-pumas-scream.md
  .changeset/tough-toes-perform.md
  src/packages/map/assets/images/mapMarker2.png
  src/packages/result-list/DataTable/useSetupTable.tsx
  src/packages/result-list/README.md
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/README.md
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/test-result-list/result-list-app/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

cleanup
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

avoid zooming map on selection
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add test for zoom
  src/packages/result-list/ResultList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

zoom and highlight options not separated
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

changeset
  .changeset/twelve-goats-vanish.md
Due: prettier --write --ignore-path .eslintignore

wip: Move editing hooks from map tools into app ui
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

keycloak service move and rename
  pnpm-lock.yaml
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/api.ts
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/index.ts
  src/packages/authentication-keycloak/package.json
  src/packages/authentication-keycloak/services.ts
  src/packages/keycloak/api.ts
  src/samples/keycloak-sample/MapConfigProviderImpl.ts
  src/samples/keycloak-sample/build.config.mjs
  src/samples/keycloak-sample/package.json
  src/samples/keycloak-sample/services.ts
Due: prettier --write --ignore-path .eslintignore, eslint

Update peer dependencies of overview-map package
  .changeset/six-rice-lay.md
  pnpm-lock.yaml
  src/packages/overview-map/package.json
Due: prettier --write --ignore-path .eslintignore

Update twelve-goats-vanish.md
  .changeset/twelve-goats-vanish.md
Due: prettier --write --ignore-path .eslintignore

Update ResultList.tsx
  src/packages/result-list/ResultList.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Zoom to features loaded into the result list (#240) (#297)
  .changeset/twelve-goats-vanish.md
  src/packages/map/api/MapModel.ts
  src/packages/result-list/ResultList.test.tsx
  src/packages/result-list/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Introduce ZoomOptions-type
  .changeset/pretty-pillows-hunt.md
  src/packages/map/api/MapModel.ts
  src/packages/map/model/Highlights.ts
  src/packages/result-list/ResultList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Use copied feature in update workflow; remove interaction toggle effect from edit tools in app
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Add hint to README.md
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/README.md
Due: prettier --write --ignore-path .eslintignore, eslint

Typos, Set id on default test feature
  src/packages/editing/EditingServiceImpl.test.ts
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Implemented update feature workflow in EditingService (#41) (#289)
  .changeset/healthy-windows-repeat.md
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/EditingCreateWorkflowImpl.ts
  src/packages/editing/EditingServiceImpl.test.ts
  src/packages/editing/EditingServiceImpl.ts
  src/packages/editing/EditingUpdateWorkflowImpl.test.tsx
  src/packages/editing/EditingUpdateWorkflowImpl.ts
  src/packages/editing/README.md
  src/packages/editing/SaveFeaturesHandler.test.ts
  src/packages/editing/SaveFeaturesHandler.ts
  src/packages/editing/api.ts
  src/packages/editing/build.config.mjs
  src/packages/editing/i18n/de.yaml
  src/packages/editing/i18n/en.yaml
  src/packages/editing/index.ts
  src/packages/editing/services.ts
  src/packages/editing/style-utils.ts
  src/samples/map-sample/ol-app/app.css
  src/samples/map-sample/ol-app/app.ts
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Introduce ZoomOptions-type (#298)
  .changeset/pretty-pillows-hunt.md
  src/packages/map/api/MapModel.ts
  src/packages/map/model/Highlights.ts
  src/packages/result-list/ResultList.test.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update changeset entries
  .changeset/healthy-windows-repeat.md
  .changeset/odd-pumas-scream.md
  .changeset/pretty-pillows-hunt.md
  .changeset/tough-toes-perform.md
Due: prettier --write --ignore-path .eslintignore

Cleanup
  src/packages/map/assets/images/mapMarker2.png
Due: none

Cleanup
  .changeset/odd-pumas-scream.md
Due: prettier --write --ignore-path .eslintignore

use another test layer and keycloak
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/samples/keycloak-sample/MapConfigProviderImpl.ts
Due: prettier --write --ignore-path .eslintignore, eslint

unit test for plugin
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/api.ts
  src/packages/authentication-keycloak/build.config.mjs
  src/packages/authentication-keycloak/getKeycloakConfig.test.ts
  src/packages/editing/EditingServiceImpl.test.ts
  src/samples/keycloak-sample/app.ts
  src/samples/keycloak-sample/build.config.mjs
Due: prettier --write --ignore-path .eslintignore, eslint

fix typo in test by editing
  src/packages/editing/EditingServiceImpl.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix test data
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

README added
  src/packages/authentication-keycloak/KeycloakAuthPlugin.test.ts
  src/packages/authentication-keycloak/KeycloakAuthPlugin.ts
  src/packages/authentication-keycloak/LICENSE
  src/packages/authentication-keycloak/README.md
  src/packages/authentication-keycloak/api.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix broken links in README
  src/packages/authentication-keycloak/README.md
Due: prettier --write --ignore-path .eslintignore

Update pnpm
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .eslintignore

Path conditions:
  prettier --write --ignore-path .eslintignore: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{md,json})
  eslint: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
