Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .eslintignore, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write --ignore-path .eslintignore", "eslint"],
    "*.{md,json,css,scss,html}": ["prettier --write --ignore-path .eslintignore"]
}

Also run prettier on html files during commit
  .lintstagedrc
Due: none

add aria grouping for layer groups in toc
  src/packages/toc/LayerList.tsx
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

fix aria label for first operational layer (group)
  src/packages/toc/Toc.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

update test snapshot for toc
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
Due: none

added EditingDemo
  pnpm-lock.yaml
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

set aria label and role for groups in search results
  src/packages/search/CustomComponents.tsx
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Put all tooltips in the interactions menu on top
  src/samples/map-sample/ol-app/ui/MapTools.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Refactor a bit
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add aria properties directly to chakra component
  src/packages/search/CustomComponents.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add printing to map-sample again; change icon of popover tool; remove accidentally added dependencies
  pnpm-lock.yaml
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/map-sample/ol-app/ui/Printing.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

move aria label to layer list
  src/packages/toc/LayerList.tsx
  src/packages/toc/Toc.tsx
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/__snapshots__/Tools.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

do not set aria string for focus and change events
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Set tooltip role, use a span for text content (#309, #336)
  .changeset/tiny-dodos-think.md
  src/packages/editing/EditingCreateWorkflowImpl.test.tsx
  src/packages/editing/Tooltip.ts
  src/packages/measurement/MeasurementController.test.ts
  src/packages/measurement/MeasurementController.ts
  src/packages/selection/DragController.ts
  src/packages/selection/__snapshots__/DragController.test.ts.snap
Due: prettier --write --ignore-path .eslintignore, eslint

Wip
  src/packages/selection/DragController.test.ts
  src/packages/selection/DragController.ts
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Update README
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore

Reference markers in text
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore

Fix typo
  src/samples/map-sample/ol-app/README.md
Due: prettier --write --ignore-path .eslintignore

Simplify sample app (#301, #329)
  .changeset/silly-eyes-add.md
  pnpm-lock.yaml
  src/index.html
  src/samples/map-sample/index.html
  src/samples/map-sample/ol-app/AppModel.ts
  src/samples/map-sample/ol-app/MapConfigProviderImpl.ts
  src/samples/map-sample/ol-app/README.md
  src/samples/map-sample/ol-app/app.css
  src/samples/map-sample/ol-app/app.ts
  src/samples/map-sample/ol-app/build.config.mjs
  src/samples/map-sample/ol-app/i18n/de.yaml
  src/samples/map-sample/ol-app/i18n/en.yaml
  src/samples/map-sample/ol-app/map/CustomLegendItems.tsx
  src/samples/map-sample/ol-app/map/MapConfigProviderImpl.ts
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/services.ts
  src/samples/map-sample/ol-app/ui/AppUI.tsx
  src/samples/map-sample/ol-app/ui/Bookmarks.tsx
  src/samples/map-sample/ol-app/ui/Editing.tsx
  src/samples/map-sample/ol-app/ui/Footer.tsx
  src/samples/map-sample/ol-app/ui/Legend.tsx
  src/samples/map-sample/ol-app/ui/MapTools.tsx
  src/samples/map-sample/ol-app/ui/Measurement.tsx
  src/samples/map-sample/ol-app/ui/OverviewMap.tsx
  src/samples/map-sample/ol-app/ui/Printing.tsx
  src/samples/map-sample/ol-app/ui/ResultList.tsx
  src/samples/map-sample/ol-app/ui/Search.tsx
  src/samples/map-sample/ol-app/ui/Selection.tsx
  src/samples/map-sample/ol-app/ui/Toc.tsx
  src/samples/showcase/showcase-app/MapConfigProviderImpl.ts
  src/samples/showcase/showcase-app/build.config.mjs
  src/samples/showcase/showcase-app/demos/Demo.ts
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/i18n/de.yaml
  src/samples/showcase/showcase-app/i18n/en.yaml
  src/samples/showcase/showcase-app/model/AppInitModel.ts
  src/samples/showcase/showcase-app/package.json
Due: prettier --write --ignore-path .eslintignore, eslint

Use source state hook to control drag interaction
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

#310 fix no source tooltip, fix getOptionLabel
  src/packages/selection/DragController.test.ts
  src/packages/selection/DragController.ts
  src/packages/selection/Selection.tsx
  src/packages/selection/i18n/de.yaml
  src/packages/selection/i18n/en.yaml
Due: prettier --write --ignore-path .eslintignore, eslint

improve screen reader output
  src/packages/selection/Selection.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

add empty change set
  .changeset/cuddly-planets-collect.md
Due: prettier --write --ignore-path .eslintignore

add empty change set
  .changeset/brown-berries-build.md
Due: prettier --write --ignore-path .eslintignore

track state of predefined measurments
  src/packages/measurement/Measurement.tsx
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add name property to measurment layer
  src/packages/measurement/MeasurementController.ts
Due: prettier --write --ignore-path .eslintignore, eslint

add unit tests
  src/packages/measurement/MeasurementController.test.ts
Due: prettier --write --ignore-path .eslintignore, eslint

fix typo
  src/packages/measurement/Measurement.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

edit read me
  src/packages/measurement/README.md
Due: prettier --write --ignore-path .eslintignore

add changeset
  .changeset/stupid-toes-trade.md
Due: prettier --write --ignore-path .eslintignore

remove redundant checkbox id
  src/packages/toc/LayerList.tsx
  src/packages/toc/__snapshots__/Toc.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

first input to set scale with input field
  .changeset/spotty-mirrors-sleep.md
  pnpm-lock.yaml
  src/packages/scale-input/CHANGELOG.md
  src/packages/scale-input/LICENSE
  src/packages/scale-input/README.md
  src/packages/scale-input/ScaleInput.test.tsx
  src/packages/scale-input/ScaleInput.tsx
  src/packages/scale-input/__snapshots__/ScaleInput__.test.tsx.snap
  src/packages/scale-input/build.config.mjs
  src/packages/scale-input/index.ts
  src/packages/scale-input/package.json
  src/packages/scale-input/typedoc.json
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

Fix resolution calculation
  src/packages/scale-input/ScaleInput.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

edit changeset
  .changeset/cuddly-planets-collect.md
Due: prettier --write --ignore-path .eslintignore

ensure existing inner props are not overriden
  src/packages/search/CustomComponents.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

edit changeset
  .changeset/brown-berries-build.md
Due: prettier --write --ignore-path .eslintignore

[Search] add group role to categories in search results (#322, #341)
  .changeset/brown-berries-build.md
  src/packages/search/CustomComponents.tsx
  src/packages/search/Search.tsx
Due: prettier --write --ignore-path .eslintignore, eslint

working on tests
  src/packages/scale-input/ScaleInput.test.tsx
  src/packages/scale-input/ScaleInput.tsx
  src/packages/scale-input/__snapshots__/ScaleInput.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

more tests WIP
  src/packages/scale-input/ScaleInput.test.tsx
  src/packages/scale-input/__snapshots__/ScaleInput__.test.tsx.snap
Due: prettier --write --ignore-path .eslintignore, eslint

more tests and menu instead of select
  src/packages/scale-setter/CHANGELOG.md
  src/packages/scale-setter/README.md
  src/packages/scale-setter/ScaleSetter.test.tsx
  src/packages/scale-setter/ScaleSetter.tsx
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/scale-setter/index.ts
  src/packages/scale-setter/package.json
  src/samples/map-sample/ol-app/package.json
  src/samples/map-sample/ol-app/ui/AppUI.tsx
Due: prettier --write --ignore-path .eslintignore, eslint
