Repository open-pioneer/trails-openlayers-base-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["prettier --write", "eslint"],
    "*.{md,json,css,scss,html,yaml,yml}": ["prettier --write"]
}

show explanation for required fields hint
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
Due: prettier --write, eslint

change button text if select is active to provide cancel hint
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/components/action-selector/SelectButton.tsx
Due: prettier --write, eslint

Show current step description in PropertyForm heading
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
Due: prettier --write, eslint

update to Charka UI @ 3.35.0
  patches/@ark-ui__react.patch
  patches/@open-pioneer__vite-plugin-pioneer.patch
  patches/@zag-js__dialog.patch
  patches/@zag-js__drawer.patch
  patches/@zag-js__hover-card.patch
  patches/@zag-js__interact-outside.patch
  patches/@zag-js__menu.patch
  patches/@zag-js__popover.patch
  patches/@zag-js__splitter.patch
  patches/@zag-js__tooltip.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/geolocation/__snapshots__/Geolocation.test.tsx.snap
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/__snapshots__/InitialExtent.test.tsx.snap
  src/packages/map-navigation/__snapshots__/Zoom.test.tsx.snap
  src/packages/map-ui-components/__snapshots__/ToolButton.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write

add changeset
  .changeset/big-jeans-smoke.md
Due: prettier --write

update to Chakra UI @ 3.35.0 (#617)
  .changeset/big-jeans-smoke.md
  patches/@ark-ui__react.patch
  patches/@open-pioneer__vite-plugin-pioneer.patch
  patches/@zag-js__dialog.patch
  patches/@zag-js__drawer.patch
  patches/@zag-js__hover-card.patch
  patches/@zag-js__interact-outside.patch
  patches/@zag-js__menu.patch
  patches/@zag-js__popover.patch
  patches/@zag-js__splitter.patch
  patches/@zag-js__tooltip.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateInput.test.tsx.snap
  src/packages/coordinate-search/__snapshots__/CoordinateSearch.test.tsx.snap
  src/packages/geolocation/__snapshots__/Geolocation.test.tsx.snap
  src/packages/map-navigation/__snapshots__/History.test.tsx.snap
  src/packages/map-navigation/__snapshots__/InitialExtent.test.tsx.snap
  src/packages/map-navigation/__snapshots__/Zoom.test.tsx.snap
  src/packages/map-ui-components/__snapshots__/ToolButton.test.tsx.snap
  src/packages/result-list/__snapshots__/ResultList.test.tsx.snap
  src/packages/scale-setter/__snapshots__/ScaleSetter.test.tsx.snap
  src/packages/selection/__snapshots__/Selection.test.tsx.snap
  src/packages/spatial-bookmarks/__snapshots__/SpatialBookmarks.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: prettier --write

Refactor: use FormattedRichMessage instead of custom DemoDescription component
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/samples/showcase/showcase-app/demos/CoordinateSearchDemos.tsx
  src/samples/showcase/showcase-app/demos/DemoDescription.tsx
  src/samples/showcase/showcase-app/demos/EditingDemo.tsx
  src/samples/showcase/showcase-app/demos/FeatureEditingDemo.tsx
  src/samples/showcase/showcase-app/demos/SearchAndHighlightDemo.tsx
  src/samples/showcase/showcase-app/demos/SelectionDemo.tsx
  src/samples/showcase/showcase-app/demos/SimpleDemos.tsx
  src/samples/showcase/showcase-app/demos/TocLegendDemo.tsx
Due: prettier --write, eslint

Improve editing UX (#618)
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/components/action-selector/SelectButton.tsx
  src/packages/feature-editing/implementation/components/property-editor/CancelConfirmationDialog.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
Due: prettier --write, eslint

remove intl deprecation in selection service
  src/packages/selection/Selection.test.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/selection/services.ts
Due: prettier --write, eslint

Rework invalid form states
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/FeatureEditor.tsx
  src/packages/feature-editing/implementation/components/controls/NumberFieldControl.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyField.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
  src/packages/feature-editing/implementation/context/PropertyFormContextProvider.tsx
  src/packages/feature-editing/implementation/context/usePropertyFormContext.ts
Due: prettier --write, eslint

Use different hooks to access the context in a typesafe way
  src/packages/feature-editing/api/editor/context.ts
  src/packages/feature-editing/implementation/components/property-editor/PropertyField.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
  src/packages/feature-editing/implementation/context/usePropertyFormContext.ts
Due: prettier --write, eslint

add changeset
  .changeset/shaky-ears-design.md
Due: prettier --write

remove intl deprecation in selection service (#620)
  .changeset/shaky-ears-design.md
  src/packages/selection/Selection.test.tsx
  src/packages/selection/VectorSelectionSource.ts
  src/packages/selection/services.ts
Due: prettier --write, eslint

refactoring
  src/packages/feature-editing/implementation/FeatureEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
Due: prettier --write, eslint

Fix scrolling
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
Due: prettier --write, eslint

refactor form context api
  src/packages/feature-editing/api/editor/context.ts
  src/packages/feature-editing/api/model/FeatureTemplate.ts
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
  src/packages/feature-editing/implementation/context/usePropertyFormContext.ts
  src/packages/feature-editing/index.ts
Due: prettier --write, eslint

fix typescirpt errors
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
Due: prettier --write, eslint

first version layer load state
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/WMSLayer.test.ts
  src/packages/map/layers/WMSLayer.ts
  src/packages/map/layers/WMTSLayer.test.ts
  src/packages/map/layers/WMTSLayer.ts
  src/packages/map/layers/shared/internals.ts
  src/packages/toc/i18n/de.yaml
  src/packages/toc/i18n/en.yaml
  src/packages/toc/ui/LayerList/LayerItem.tsx
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/hooks.ts
Due: prettier --write, eslint

fix property form tests
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.test.tsx
Due: prettier --write, eslint

fix test after refactoring
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
Due: prettier --write, eslint

Update patches
  patches/@zag-js__dialog.patch
  patches/@zag-js__drawer.patch
  patches/@zag-js__hover-card.patch
  patches/@zag-js__popover.patch
  patches/@zag-js__tooltip.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Prepare release
  .changeset/big-jeans-smoke.md
  .changeset/shaky-chairs-add.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fix core packages version
  .changeset/three-geese-say.md
Due: prettier --write

feature-editing: rework invalid form states (#621)
  src/packages/feature-editing/api/editor/context.ts
  src/packages/feature-editing/api/model/FeatureTemplate.ts
  src/packages/feature-editing/i18n/de.yaml
  src/packages/feature-editing/i18n/en.yaml
  src/packages/feature-editing/implementation/FeatureEditor.tsx
  src/packages/feature-editing/implementation/components/controls/NumberFieldControl.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyEditor.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyField.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.test.tsx
  src/packages/feature-editing/implementation/components/property-editor/PropertyForm.tsx
  src/packages/feature-editing/implementation/context/PropertyFormContext.ts
  src/packages/feature-editing/implementation/context/PropertyFormContextProvider.tsx
  src/packages/feature-editing/implementation/context/usePropertyFormContext.ts
  src/packages/feature-editing/index.ts
Due: prettier --write, eslint

Configure deps optimizer
  vite.config.ts
Due: prettier --write, eslint

Fix reactivity when layer title changes
  .changeset/upset-schools-clap.md
  pnpm-lock.yaml
  src/packages/legend/Legend.test.tsx
  src/packages/legend/Legend.tsx
  src/packages/legend/package.json
Due: prettier --write, eslint

Remove unused patch file
  patches/@open-pioneer__vite-plugin-pioneer.patch
Due: none

Bump js-cookie (CVE-2026-46625)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Use patched version of brace-expansion v1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update pnpm
  package.json
Due: prettier --write

Provide reactive rotation in MapModel
  src/packages/map/model/MapModel.ts
Due: prettier --write, eslint

Add changeset
  .changeset/light-pianos-pay.md
Due: prettier --write

Provide reactive rotation in MapModel (#624)
  .changeset/light-pianos-pay.md
  src/packages/map/model/MapModel.ts
Due: prettier --write, eslint

Fix interact outside patch
  patches/@zag-js__interact-outside.patch
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

add override for esbuild to fix cves
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

update chakra and patches
  patches/@ark-ui__react.patch
  patches/@zag-js__dialog.patch
  patches/@zag-js__drawer.patch
  patches/@zag-js__hover-card.patch
  patches/@zag-js__menu.patch
  patches/@zag-js__popover.patch
  patches/@zag-js__tooltip.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

use core packages dev snaphot with chakra 3.36
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

update test snapshots
  src/packages/basemap-switcher/__snapshots__/BasemapSwitcher.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Toc.test.tsx.snap
  src/packages/toc/ui/__snapshots__/Tools.test.tsx.snap
Due: none

improve layer load state
  src/packages/map/layers/AbstractLayer.ts
  src/packages/map/layers/AbstractLayerBase.test.ts
  src/packages/map/layers/WMSLayer.test.ts
  src/packages/map/layers/WMSLayer.ts
  src/packages/map/layers/shared/SublayerBaseType.ts
  src/packages/map/layers/shared/internals.ts
  src/packages/map/layers/wms/WMSSublayer.ts
  src/packages/toc/ui/LayerList/LayerList.test.tsx
  src/packages/toc/ui/LayerList/hooks.ts
Due: prettier --write, eslint
